<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!--<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <title>添加设备</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navigationBar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
]   <script type="text/javascript" th:src="@{/javascript/elementView.js}"></script>
    <!--<script type="text/javascript" th:src="@{/javascript/checkInput.js}"></script>-->
    <script>
        function checkEquipmentAdd() {
            var form = document.getElementById("equipmentAddForm");
            if (form.eqpId.value == "" || form.eqpName.value == "") {
                alert("您有信息尚未填写，请补充未填写的信息");
                window.event.returnValue = false;//验证失败不提交action
                // return false;
            }
            else if (form.eqpId.value.length > 32 || form.eqpName.value.length > 32)
            // || form.telephone.value.length > 32
            {
                alert("设备名称和设备号均不能超过32个字符");
                window.event.returnValue = false;//验证失败不提交action
            }
            else if (!/^[a-zA-Z0-9_\u4e00-\u9fa5]+$/.test(form.eqpName.value)) {
                alert("设备名称只能由汉字、字母、数字和下划线组成");
                window.event.returnValue = false;//验证失败不提交action
            }
        }

        function submitOnMouseUpEquipmentAdd() {
            var addSubmit = document.getElementById("equipmentAddSubmit");
            addSubmit.style.backgroundColor = "#EE7700";
        }

        function submitOnMouseLeaveEquipmentAdd() {
            var addSubmit = document.getElementById("equipmentAddSubmit");
            addSubmit.style.backgroundColor = "#FFA500";
        }
    </script>
</head>

<body>
<div id="header">
    <a href="/login" style="color: blueviolet;font-size: 30px">人&nbsp体&nbsp健&nbsp康&nbsp监&nbsp测&nbsp平&nbsp台</a>
    <br/>
    <div style="float: left;width: 60%;text-align: left">
        <a href="/login" style="color: blueviolet;font-size: 18px">Human Health Monitoring Platform</a>
    </div>
    <div style="float: left;width: 40%;text-align: right">
        <span style="color: darkgrey;font-size: 18px">您好！<td th:text="${user.userName}"></td></span>
        <!--<a href="/monitorCenter/infoHallOnTime" style="text-align: right;font-size: 18px">监测中心&nbsp|</a>-->
        <a href="/userLogout" style="text-align: right;font-size: 18px">退出登录&nbsp|</a>
        <a href="/help" target="_blank" style="text-align: right;font-size: 18px">帮助</a>
    </div>
</div>

<!--<hr width="100%" color="#0080FF" size="2"/>-->

<div id="head-nav" class="head-nav">
    <div class="head-nav-con">
        <ul>
            <li><a href="/indexUser">首&nbsp&nbsp&nbsp&nbsp页</a></li>
            <li class="drop-down"><a href="javascript:void(0)">监测信息</a>
                <ul class="drop-down-content">
                    <li><a href="/infoHallOnTime">实时监测信息</a></li>
                    <li><a href="/infoHallHistory">历史监测信息</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="javascript:void(0)">监测设备</a>
                <ul class="drop-down-content">
                    <li><a href="/monitorCenter/equipmentAdd">添加设备</a></li>
                    <li><a href="/monitorCenter/equipmentInfoManage">设备信息管理</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="javascript:void(0)">监测对象</a>
                <ul class="drop-down-content">
                    <li><a href="/monitorCenter/objectAdd">添加监测对象</a></li>
                    <li><a href="/monitorCenter/objectInfoManage">监测对象信息管理</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="javascript:void(0)">用户账户</a>
                <ul class="drop-down-content">
                    <li><a href="/monitorCenter/accountBasicInfo">基本信息</a></li>
                    <li><a href="/monitorCenter/accountPwdModify">密码修改</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div style="margin-top: 100px;margin-bottom: 80px">
    <form id="equipmentAddForm" name="equipmentAddFrom" action="/monitorCenter/equipmentAddResult"
          accept-charset="utf-8" method="post"
          style="text-align:center;" onsubmit="checkEquipmentAdd()">
        <!--margin:auto;margin-top:15%-->
        <div class="d" style="height:700px;background-color:white;width:600px;
        border: 1px solid lightgrey;margin: auto;">
            <br/>
            <p style="font-size: 28px;text-align: left;text-indent: 2em">添加设备</p>

            <p class="equipmentModifyReminder" style="text-align: left;font-size: 18px;text-indent: 3em">设备类型</p>
            <select id="eqpTypeSelected" name="eqpTypeSelected"
                    style="font-size: 18px;height: 36px;width: 82%;text-indent: 0.5em;">
                <option th:each="eqpType:${eqpTypeList}" th:value="${eqpType.eqpType}"
                        th:text="${eqpType.eqpType}"></option>
            </select>

            <p class="equipmentModifyReminder" style="text-align: left;font-size: 18px;text-indent: 3em">设备号</p>
            <input type="text" id="eqpId" name="eqpId" placeholder="请输入设备上标注的设备识别号码" class="inputStyle1"/>

            <p class="equipmentModifyReminder" style="text-align: left;font-size: 18px;text-indent: 3em">设备名称</p>
            <input type="text" id="eqpName" name="eqpName" value="" placeholder="只能由汉字、字母、数字和下划线组成"
                   class="inputStyle1"/>

            <p class="equipmentModifyReminder" style="text-align: left;font-size: 18px;text-indent: 3em">绑定对象</p>
            <select id="objectSelected" name="objectSelected"
                    style="font-size: 18px;height: 36px;width: 82%;text-indent: 0.5em;">
                <option th:each="object:${objectList}" th:value="${object.objectId}"
                        th:text="${object.objectName}"></option>
            </select>
            <p style="height: 36px"></p>
            <p style="text-align: left;font-size: 12px;text-indent: 4em">点击下方“添加”按钮后请等待15秒，15秒后将返回添加结果</p>
            <input type="submit" id="equipmentAddSubmit" name="equipmentAddSubmit"
                   style="font-size: 18px;height: 50px;width: 83%;background-color: #FFA500;border: none;color: white"
                   value="添    加" onmouseover="submitOnMouseUpEquipmentAdd()"
                   onmouseleave="submitOnMouseLeaveEquipmentAdd()"/>
        </div>
    </form>
</div>
<iframe frameborder="0" scrolling="no" marginwidth="0" marginheight="0" width="100%" th:src="@{/master/footer.html}"></iframe>
</body>
</html>