<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>

<div th:fragment="example">
	this is a example!
</div>
<footer th:fragment="footer" style="padding-left:20%;padding-right: 20%;">
	<p style="font-family: Microsoft Yahei;">Copyright © 2019 哈尔滨工业大学（威海）计算机科学与技术学院 嵌入式研发中心</p>
	<a href="http://www.beian.miit.gov.cn" target="_blank">鲁ICP备18054321号</a>
	<p style="float: right;"><a href="#top">回到顶部</a></p>
</footer>

<ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    style="font-family: 'Microsoft JhengHei Light'" id="accordionSidebar">
	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/indexUser">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa-laugh-wink"></i>
		</div>
		<div class="sidebar-brand-text mx-3">HumanHealth</div>
	</a>
	<!-- Divider -->
	<hr class="sidebar-divider my-0">
	<!-- Nav Item - Charts -->
	<li class="nav-item">
		<a class="nav-link" href="/indexUser">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>首页</span></a>
	</li>
	<!-- Nav Item - Dashboard -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMonitor" aria-expanded="true"
		   aria-controls="collapseMonitor">
			<i class="fas fa-fw fa-chart-area"></i>
			<span>监测信息</span></a>
		<div id="collapseMonitor" class="collapse" aria-labelledby="headingMonitor" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="/infoHallOnTime">实时数据</a>
				<a class="collapse-item" href="/infoHallHistory">历史数据</a>
			</div>
		</div>
	</li>
	<!-- Divider -->
	<hr class="sidebar-divider">
	<!-- Heading -->
	<div class="sidebar-heading">
		MANAGEMENT
	</div>
	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
		   aria-controls="collapseTwo">
			<i class="fas fa-fw fa-cog"></i>
			<span>监测设备</span>
		</a>
		<!--class: show展开-->
		<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="/monitorCenter/equipmentAdd">添加设备</a>
				<a class="collapse-item" href="/monitorCenter/equipmentInfoManage">设备信息管理</a>
			</div>
		</div>
	</li>
	<!-- Nav Item - Utilities Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
		   aria-expanded="true" aria-controls="collapseUtilities">
			<i class="fas fa-fw fa-wrench"></i>
			<span>监测对象</span>
		</a>
		<div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
		     data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="/monitorCenter/objectAdd">添加监测对象</a>
				<a class="collapse-item" href="/monitorCenter/objectInfoManage">监测对象管理</a>
			</div>
		</div>
	</li>
	<!-- Nav Item - Utilities Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNetmask"
		   aria-expanded="true" aria-controls="collapseUtilities">
			<i class="fas fa-fw fa-wrench"></i>
			<span>网关管理</span>
		</a>
		<div id="collapseNetmask" class="collapse" aria-labelledby="headingUtilities"
		     data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="/monitorCenter/netmaskRelated">网关管理</a>
			</div>
		</div>
	</li>
	<!-- Divider -->
	<hr class="sidebar-divider">
	<!-- Heading -->
	<div class="sidebar-heading">
		USER
	</div>
	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
		   aria-expanded="true" aria-controls="collapsePages">
			<i class="fas fa-fw fa-folder"></i>
			<span>账户管理</span>
		</a>
		<div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="/monitorCenter/accountBasicInfo">基本信息</a>
				<a class="collapse-item" href="/monitorCenter/accountPwdModify">密码修改</a>
				<a class="collapse-item" href="/userLogout">退出登录</a>
			</div>
		</div>
	</li>
	<!-- Nav Item - Tables -->
	<li class="nav-item">
		<a class="nav-link" href="_blank">
			<i class="fas fa-fw fa-table"></i>
			<span>帮助</span></a>
	</li>
	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">
	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>
</ul>



</body>
</html>