<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>HumanHealthMonitor - 主页</title>
	
	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<!-- Custom styles for this template-->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
	
	<script>
        var curIndex = 0;
        //时间间隔(单位毫秒)，每3秒钟显示一张
        var timeInterval = 3000;
        var arr = new Array();
        arr[0] = '[[${mainPicList.get(0).getPicUrl()}]]';
        arr[1] = '[[${mainPicList.get(1).getPicUrl()}]]';
        arr[2] = '[[${mainPicList.get(2).getPicUrl()}]]';
        var arr2 = new Array();
        arr2[0] = '[[${mainPicList.get(0).getNewsId()}]]';
        arr2[1] = '[[${mainPicList.get(1).getNewsId()}]]';
        arr2[2] = '[[${mainPicList.get(2).getNewsId()}]]';
        setInterval(changeImg, timeInterval);
        function changeImg() {
            var obj = document.getElementById("mainPic");
            var obj2 = document.getElementById("mainPicNewsId");
            if (curIndex === arr.length - 1) {
                curIndex = 0;
            }
            else {
                curIndex += 1;
            }
            obj.src = arr[curIndex];
            obj2.value = arr2[curIndex];
        }
        function fontBold1() {
            var more = document.getElementById("moreClass1");
            more.style.fontWeight = "bold";
        }
        function fontNormal1() {
            var more = document.getElementById("moreClass1");
            more.style.fontWeight = "normal";
        }
        function fontBold2() {
            var more = document.getElementById("moreClass2");
            more.style.fontWeight = "bold";
        }
        function fontNormal2() {
            var more = document.getElementById("moreClass2");
            more.style.fontWeight = "normal";
        }
        function fontBold3() {
            var more = document.getElementById("moreClass3");
            more.style.fontWeight = "bold";
        }
        function fontNormal3() {
            var more = document.getElementById("moreClass3");
            more.style.fontWeight = "normal";
        }
	</script>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
	
	<!-- Sidebar -->
	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
	    style="font-family: 'Microsoft JhengHei Light'" id="accordionSidebar">
		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/indexUser">
			<div class="sidebar-brand-icon rotate-n-15">
				<i class="fas fa-laugh-wink"></i>
			</div>
			<div class="sidebar-brand-text mx-3">HumanHealth</div>
		</a>
		<!-- Divider -->
		<hr class="sidebar-divider my-0">
		<!-- Nav Item - Charts -->
		<li class="nav-item">
			<a class="nav-link" href="/indexUser">
				<i class="fas fa-fw fa-tachometer-alt"></i>
				<span>首页</span></a>
		</li>
		<!-- Nav Item - Dashboard -->
		<li class="nav-item">
			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMonitor" aria-expanded="true"
			   aria-controls="collapseMonitor">
				<i class="fas fa-fw fa-chart-area"></i>
				<span>监测信息</span></a>
			<div id="collapseMonitor" class="collapse" aria-labelledby="headingMonitor" data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" href="/infoHallOnTime">实时数据</a>
					<a class="collapse-item" href="/infoHallHistory">历史数据</a>
				</div>
			</div>
		</li>
		<!-- Divider -->
		<hr class="sidebar-divider">
		<!-- Heading -->
		<div class="sidebar-heading">
			MANAGEMENT
		</div>
		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
			   aria-controls="collapseTwo">
				<i class="fas fa-fw fa-cog"></i>
				<span>监测设备</span>
			</a>
			<!--class: show展开-->
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" href="/monitorCenter/equipmentAdd">添加设备</a>
					<a class="collapse-item" href="/monitorCenter/equipmentInfoManage">设备信息管理</a>
				</div>
			</div>
		</li>
		<!-- Nav Item - Utilities Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
			   aria-expanded="true" aria-controls="collapseUtilities">
				<i class="fas fa-fw fa-wrench"></i>
				<span>监测对象</span>
			</a>
			<div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
			     data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" href="/monitorCenter/objectAdd">添加监测对象</a>
					<a class="collapse-item" href="/monitorCenter/objectInfoManage">监测对象管理</a>
				</div>
			</div>
		</li>
		<!-- Nav Item - Utilities Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNetmask"
			   aria-expanded="true" aria-controls="collapseUtilities">
				<i class="fas fa-fw fa-wrench"></i>
				<span>网关管理</span>
			</a>
			<div id="collapseNetmask" class="collapse" aria-labelledby="headingUtilities"
			     data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" href="/monitorCenter/netmaskRelated">网关管理</a>
				</div>
			</div>
		</li>
		<!-- Divider -->
		<hr class="sidebar-divider">
		<!-- Heading -->
		<div class="sidebar-heading">
			USER
		</div>
		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
			   aria-expanded="true" aria-controls="collapsePages">
				<i class="fas fa-fw fa-folder"></i>
				<span>账户管理</span>
			</a>
			<div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" href="/monitorCenter/accountBasicInfo">基本信息</a>
					<a class="collapse-item" href="/monitorCenter/accountPwdModify">密码修改</a>
					<a class="collapse-item" href="/userLogout">退出登录</a>
				</div>
			</div>
		</li>
		<!-- Nav Item - Tables -->
		<li class="nav-item">
			<a class="nav-link" href="_blank">
				<i class="fas fa-fw fa-table"></i>
				<span>帮助</span></a>
		</li>
		<!-- Divider -->
		<hr class="sidebar-divider d-none d-md-block">
		<!-- Sidebar Toggler (Sidebar) -->
		<div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>
	</ul>
	<!-- End of Sidebar -->
	
	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">
		
		<!-- Main Content -->
		<div id="content">
			
			<!-- Topbar -->
			<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
				
				<!-- Sidebar Toggle (Topbar) -->
				<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
					<i class="fa fa-bars"></i>
				</button>
				
				<h4 style="font-family: 宋体;text-align: center;">&nbsp;人体健康监测平台</h4>
				
				
				<!-- Topbar Navbar -->
				<ul class="navbar-nav ml-auto">
					
					
					
					<div class="topbar-divider d-none d-sm-block"></div>
					
					<!-- Nav Item - User Information -->
					<li class="nav-item dropdown no-arrow">
						<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="mr-2 d-none d-lg-inline text-gray-600 small">我的&nbsp;&nbsp;</span>
							<img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
						</a>
						<!-- Dropdown - User Information -->
						<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
						     aria-labelledby="userDropdown">
							<a class="dropdown-item" href="/monitorCenter/accountBasicInfo">
								<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
								基本信息
							</a>
							<a class="dropdown-item" href="/monitorCenter/accountPwdModify">
								<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
								密码修改
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
								<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
								退出登陆
							</a>
						</div>
					</li>
				</ul>
			</nav>
			<!-- End of Topbar -->
			<!-- Begin Page Content -->
			<div class="container-fluid">
				<!-- Page Heading -->
				<div class="d-sm-flex align-items-center justify-content-between mb-4">
					<h1 class="h3 mb-0 text-gray-800"></h1>
				</div>
				<div class="row">
					<div class="col-lg-0">
					
					</div>
					<div class="col-lg-12">
						<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
								<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
								<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner" style="border-radius: 10px">
								<div class="carousel-item active relocate-news">
									<img th:src="'/'+${mainPicList.get(0).getPicUrl()}" class="d-block w-100" th:onclick="'javascript:relocateNews(\''+${mainPicList.get(0).getNewsId()}+'\')'" alt="...">
									<div class="carousel-caption d-none d-md-block">
										<h5 th:text="${mainPicList.get(0).getNewsHead()}">First slide label</h5>
<!--										<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
									</div>
								</div>
								<div class="carousel-item relocate-news">
									<img th:src="'/'+${mainPicList.get(1).getPicUrl()}" class="d-block w-100" th:onclick="'javascript:relocateNews(\''+${mainPicList.get(1).getNewsId()}+'\')'" alt="...">
									<div class="carousel-caption d-none d-md-block">
										<h5 th:text="${mainPicList.get(1).getNewsHead()}">Second slide label</h5>
<!--										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
									</div>
								</div>
								<div class="carousel-item relocate-news">
									<img th:src="'/'+${mainPicList.get(2).getPicUrl()}" class="d-block w-100" th:onclick="'javascript:relocateNews(\''+${mainPicList.get(2).getNewsId()}+'\')'" alt="...">
									<div class="carousel-caption d-none d-md-block">
										<h5 th:text="${mainPicList.get(2).getNewsHead()}">Third slide label</h5>
<!--										<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
									</div>
								</div>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
					<div class="col-lg-0">
					
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-lg-4">
						<div id="newest" style="width: auto;float: left;margin-left: 8%">
							<nobr>
								<span style="font-size: xx-large;font-weight: bold;margin-left: 8px">最新消息</span>
								<!--<a id="moreClass1" class="moreClass" href="#" style="font-size: x-large;color: blue" onmouseover="fontBold1()"  onmouseleave="fontNormal1()">更多>></a>-->
								<form action="/monitorCenter/newsSelectedKindUser" style="margin:0;display: inline">
									<input type="hidden" name="newsType" value="最新消息"/>
									<input id="moreClass1" type="submit" value="更多>>"
									       style="border: 0;background-color: #F8F9FC;color: #007BFF;font-size: x-large"
									       onmouseover="fontBold1()" onmouseleave="fontNormal1()"/>
								</form>
							</nobr>
							<table>
								<tr th:each="latestNews:${latestNewsList}">
									<td>
										<form action="/monitorCenter/newsPageUser">
											<input type="hidden" name="newsId" th:value="${latestNews.getNewsId()}"/>
											<input type="submit" th:value="${latestNews.getNewsHead()}"
											       style="border: 0;background-color: #F8F9FC;color: #007BFF;font-size: x-large"/>
										</form>
									</td>
								</tr>
							</table>
							<br><br><br><br>
						</div>
					</div>
					<div class="col-lg-4">
						<div id="health" style="width: auto;float: left">
							<nobr>
								<span style="font-size: xx-large;font-weight: bold;margin-left: 8px">健康阅读</span>
								<form action="/monitorCenter/newsSelectedKindUser" style="margin:0;display: inline">
									<input type="hidden" name="newsType" value="健康阅读"/>
									<input id="moreClass2" type="submit" value="更多>>"
									       style="border: 0;background-color: #F8F9FC;color: #007BFF;font-size: x-large"
									       onmouseover="fontBold2()" onmouseleave="fontNormal2()"/>
								</form>
								<!--<a id="moreClass2" class="moreClass" href="#" style="font-size: x-large;color: blue" onmouseover="fontBold2()"  onmouseleave="fontNormal2()">更多>></a>-->
							</nobr>
							<table>
								<tr th:each="healthNews:${healthNewsList}">
									<td>
										<form action="/monitorCenter/newsPageUser">
											<input type="hidden" name="newsId" th:value="${healthNews.getNewsId()}"/>
											<input type="submit" th:value="${healthNews.getNewsHead()}"
											       style="border: 0;background-color: #F8F9FC;color: #007BFF;font-size: x-large"/>
										</form>
									</td>
								</tr>
							</table>
							<br><br><br><br>
						</div>
					</div>
					<div class="col-lg-4">
						<div id="hot" style="width: auto;float: left;margin-right: 5%">
							<nobr>
								<span style="font-size: xx-large;font-weight: bold;margin-left: 8px">热点新闻</span>
								<form action="/monitorCenter/newsSelectedKindUser" style="margin:0;display: inline">
									<input type="hidden" name="newsType" value="热点新闻"/>
									<input id="moreClass3" type="submit" value="更多>>"
									       style="border: 0;background-color: #F8F9FC;color: #007BFF;font-size: x-large"
									       onmouseover="fontBold3()" onmouseleave="fontNormal3()"/>
								</form>
							</nobr>
							<table>
								<tr th:each="hotPointNews:${hotPointNewsList}">
									<td>
										<form action="/monitorCenter/newsPageUser">
											<input type="hidden" name="newsId" th:value="${hotPointNews.getNewsId()}"/>
											<input type="submit" th:value="${hotPointNews.getNewsHead()}"
											       style="border: 0;background-color: #F8F9FC;color: #007BFF;font-size: x-large"/>
										</form>
									</td>
								</tr>
							</table>
							<br><br><br><br>
						</div>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- End of Main Content -->
		<!-- Footer -->
		<footer class="sticky-footer bg-white">
			<div class="container my-auto">
				<div class="copyright text-center my-auto">
					<span>Copyright © 2019 哈尔滨工业大学（威海）计算机科学与技术学院  嵌入式研发中心</span>
				</div>
			</div>
		</footer>
		<!-- End of Footer -->
	</div>
	<!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">确定要离开吗？</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">若要退出登录，选择下面的“确定”按钮</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
				<a class="btn btn-primary" href="/userLogout">确定</a>
			</div>
		</div>
	</div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>


<script type = "text/javascript">
    $(document).ready(function () {
        relocateNews=function(newsId) {
            window.location.href="/monitorCenter/newsPageUser?newsId="+newsId
        }
    })
</script>
</body>
</html>