<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>HumanHealthMonitor - 主页（管理员）</title>
    
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
    
    <script type="text/javascript" th:src="@{/javascript/elementView.js}"></script>
    <style>
        input.inputStyle2 {
            font-size: 18px;
            height: 36px;
            width: 40%;
            text-indent: 0.5em;
        }
        
        input.inputStyle3 {
            font-size: 18px;
            height: 36px;
            width: 70%;
            text-indent: 0.5em;
        }
    </style>
    <script>
        function checkEquipmentModify() {
            var form = document.getElementById("equipmentModifyForm");
            if (form.introduction.value == "") {
                alert("简介不能为空");
                window.event.returnValue = false;//验证失败不提交action
                // return false;
            }
            else if (form.introduction.value.length > 100)
            // || form.telephone.value.length > 32
            {
                alert("设备简介不能超过100个字符");
                window.event.returnValue = false;//验证失败不提交action
            }
        }
        
        function submitOnMouseUpEquipmentModify() {
            var modifySubmit = document.getElementById("equipmentModifySubmit");
            modifySubmit.style.backgroundColor = "#EE7700";
        }
        
        function submitOnMouseLeaveEquipmentModify() {
            var modifySubmit = document.getElementById("equipmentModifySubmit");
            modifySubmit.style.backgroundColor = "#FFA500";
        }
    </script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        style="font-family: 'Microsoft JhengHei Light'" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/indexAdmin">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">HumanHealth</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="/indexAdmin">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>首页</span></a>
        </li>
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMonitor" aria-expanded="true"
               aria-controls="collapseMonitor">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>统计数据展示</span></a>
            <div id="collapseMonitor" class="collapse" aria-labelledby="headingMonitor" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/userInfoHallGroupData">平台统计数据</a>
                    <a class="collapse-item" href="/manageCenter/userInfoHallSingleSearch">用户统计数据</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            MANAGEMENT
        </div>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
               aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>新闻管理</span>
            </a>
            <!--class: show展开-->
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/manageCenter/newsMngPublish">发布新闻</a>
                    <a class="collapse-item" href="/manageCenter/newsMngInfoManage">已发布新闻管理</a>
                    <a class="collapse-item" href="/manageCenter/newsMainPictureManage">主页宣传区管理</a>
                </div>
            </div>
        </li>
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>设置</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/manageCenter/setEquipmentOverview">默认警报值设置</a>
                    <a class="collapse-item" href="/manageCenter/setNetMaskOverview">通信协议设置</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        
        <div class="sidebar-heading">
            ADMIN
        </div>
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNetmask"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>管理员账户</span>
            </a>
            <div id="collapseNetmask" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/manageCenter/mngAccountPwdModify">密码修改</a>
                    <a class="collapse-item" href="/adminLogout">退出登录</a>
                
                </div>
            </div>
        </li>
        
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->
    
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        
        <!-- Main Content -->
        <div id="content">
            
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
    
                <h4 style="font-family: 宋体;text-align: center;">&nbsp;人体健康监测平台</h4>
    
    
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    
                    
                    
                    
                    <div class="topbar-divider d-none d-sm-block"></div>
                    
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">我的</span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/manageCenter/mngAccountPwdModify">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                修改密码
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/adminLogout" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                退出登陆
                            </a>
                        </div>
                    </li>
                
                </ul>
            
            </nav>
            <!-- End of Topbar -->
            
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"></h1>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                    
                    </div>
                    <div class="col-lg-8">
                        <div style="width: 100%">
                            <h4 style="text-align: center;color: #007BFF;">设备类型信息详情</h4>
                        </div>
                        <div style="width: 100%;min-height: 80%">
                            <div style="width: auto;">
                                <!--<p align="center" th:text="${equipment.}" style="color: black;font-size: 20px;border: 0px;text-align: center"></p>-->
            
                                <!--margin:auto;margin-top:15%-->
                                <div class="d" style="height:auto;background-color:white;width:auto;border-radius: 4px;border: 1px solid lightgrey;margin: auto;padding: 5%">
                                    <form id="equipmentModifyForm" name="equipmentModifyForm" action="/manageCenter/setEquipmentModifyInfoSave"
                                          accept-charset="utf-8" method="post"
                                          style="text-align:center;" onsubmit="checkEquipmentModify()">
                                        <br/>
                                        <p style="font-size: 20px;text-align: center;color: #007BFF;">&nbsp基本信息</p>
                                        <p style="text-align: left;">
                                            <span class="equipmentModifyReminder" style="text-align: left;font-size: 18px">设备类型:</span>
                                            <span th:text="${equipmentType.getEqpType()}" th:value="${equipmentType.getEqpType()}"
                                                  style="text-align: left;font-size: 18px"></span>
                                            <input type="hidden" id="eqpTypeShow" name="eqpTypeShow" th:value="${equipmentType.getEqpType()}"/>
                                        </p>
                                        <p style="text-align: left;margin-top: 15px">
                                            <span class="equipmentModifyReminder" style="text-align: left;font-size: 18px">匹配字符串:</span>
                                            <span th:text="${equipmentType.getStringMatch()}" th:value="${equipmentType.getStringMatch()}"
                                                  style="text-align: left;font-size: 18px"></span>
                                            <!--<input type="text" id="stringMatch" name="stringMatch" th:value="${equipmentType.getStringMatch()}"  class="inputStyle2"/>-->
                                        </p>
                                        <p style="text-align: left;margin-top: 15px">
                                            <span class="equipmentModifyReminder" style="text-align: left;font-size: 18px">指标总数:</span>
                                            <span th:text="${equipmentType.getIndexTotal()}" th:value="${equipmentType.getIndexTotal()}"
                                                  style="text-align: left;font-size: 18px"></span>
                                            <!--<input type="text" id="eqpType" name="eqpType" th:value="${equipment.eqpType}"  class="inputStyle2"/>-->
                                        </p>
                                        <p style="text-align: left;margin-top: 15px">
                                            <span class="equipmentModifyReminder" style="text-align: left;font-size: 18px">警报界限总数:</span>
                                            <span th:text="${equipmentType.getAlarmSerialMax()}" th:value="${equipmentType.getAlarmSerialMax()}"
                                                  style="text-align: left;font-size: 18px"></span>
                                        </p>
                                        <p class="form-inline" style="text-align: left;margin-top: 15px">
                                            <span class="equipmentModifyReminder" style="text-align: left;font-size: 18px">简介:</span>
                                            <input type="text" id="introduction" name="introduction" style="width: 75%"
                                                   th:value="${equipmentType.getIntroduction()}" class="form-control"/>
                                        </p>
                                        <input type="submit" id="equipmentModifySubmit" name="equipmentModifySubmit"
                                               style="font-size: 18px;height: 50px;width: 60%;background-color: #007BFF;border-radius: 4px;border: none;color: white"
                                               value="更新设备简介"/>
                                    </form>
                                </div>
            
                                <div class="d" style="background-color:white;width:auto;border: 1px solid lightgrey;margin: auto;padding: 5%">
                                    <p style="font-size: 18px;text-align: center;color: blue">&nbsp默认警报界限
                                    </p>
                                    <p th:each="alarmValue:${alarmValueList}" style="text-align: left;margin-top: 15px">
                                        <span th:value="${alarmValue.valueName}" th:text="${alarmValue.valueName}" style="text-align: left;font-size: 18px"></span>
                                        <span style="font-size: 18px">:&nbsp&nbsp</span>
                                        <span id="value" th:value="${alarmValue.value}" th:text="${alarmValue.value}"></span>
                                        <span id="measurementUnit" th:value="${alarmValue.measurementUnit}"
                                              th:text="${alarmValue.measurementUnit}"></span>
                                    </p>
                                </div>
                                <div class="d" style="height:60px;background-color:#f8f9fc;width:auto;border: 0px solid lightgrey;margin: auto;">
                                    <div style="text-align: right;">
                                        <form action="/manageCenter/setEquipmentModifyDefaultValue" accept-charset="utf-8" method="post">
                                            <input type="hidden" id="eqpTypeToModifyAlarm" name="eqpTypeToModifyAlarm"
                                                   th:value="${equipmentType.eqpType}"/>
                                            <input type="submit" value="更改默认警报界限"
                                                   style="font-size: 18px;height:50px;width: 30%;background-color: #007BFF;border-radius: 4px;border: none;color: white"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                    
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        
        </div>
        <!-- End of Main Content -->
        <br/>
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © 2019 哈尔滨工业大学（威海）计算机科学与技术学院  嵌入式研发中心</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">确定要离开吗？</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">若要退出登录，选择下面的“确定”按钮</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                <a class="btn btn-primary" href="/userLogout">确定</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

</body>
</html>
