<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>HumanHealthMonitor - 主页（管理员）</title>
    
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
    
    <style>
        table {
            border: 1px solid black;
            width: 100%;
            line-height: 50px;
            text-align: center;
            border-collapse: collapse;
        }
        
        table tr th {
            border: 1px solid black;
            font-size: 18px;
        }
        
        table tr td {
            border: 1px solid black;
            font-size: 18px;
        }
    </style>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    
    <!-- Sidebar -->
    <div th:replace="common::sidebar-admin"></div>
    <!-- End of Sidebar -->
    
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        
        <!-- Main Content -->
        <div id="content">
            
            <!-- Topbar -->
            <div th:replace="common::topbar-admin"></div>
            <!-- End of Topbar -->
            
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"></h1>
                </div>
                <div class="row">
                    <div class="col-lg-1">
                    
                    </div>
                    <div class="col-lg-10">
                        <div style="width: 100%">
                            <h4 style="text-align: center;color: #007BFF;">设备类型列表</h4>
                        </div>
    
                        <div style="width: 100%;min-height: 80%;">
<!--                            <div style="width: 90%;text-align: right;margin-bottom: 20px">-->
<!--                                <form action="/manageCenter/setEquipmentAddNewType">-->
<!--                                    <input type="submit" id="addSubmit" name="addSubmit" value="+添加设备类型"-->
<!--                                           style="font-size: 18px;height:44px;background-color: #007BFF;border-radius: 4px;border: none;color: white"/>-->
<!--                                </form>-->
<!--                            </div>-->
        
                            <table id="eqpTypeTable">
                                <tr>
                                    <th>设备类型</th>
                                    <th>匹配字符串</th>
                                    <th>指标总数</th>
                                    <th>警报界限总数</th>
                                    <th>设备简介</th>
                                    <th>操作</th>
                                </tr>
                                <tr th:each="equipmentType:${equipmentTypeList}">
                                    <td th:text="${equipmentType.getEqpType()}"></td>
                                    <td th:text="${equipmentType.getStringMatch()}"></td>
                                    <td th:text="${equipmentType.getIndexTotal()}"></td>
                                    <td th:text="${equipmentType.getAlarmSerialMax()}"></td>
                                    <td th:text="${equipmentType.getIntroduction()}"></td>
                                    <td>
                                        <form action="/manageCenter/setEquipmentModifyInfo">
                                            <input type="hidden" name="eqpType" th:value="${equipmentType.getEqpType()}"/>
                                            <input type="submit" value="查看更多"
                                                   style="border: 0;background-color: #f8f9fc;color: #007BFF;font-size: 18px"/>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-1">
                    
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        
        </div>
        <!-- End of Main Content -->
        
        <br/>
        <!-- Footer -->
        <div th:replace="common::footer"></div>
        <!-- End of Footer -->
    
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">确定要离开吗？</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">若要退出登录，选择下面的“确定”按钮</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                <a class="btn btn-primary" href="/userLogout">确定</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

</body>
</html>
