<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>HumanHealthMonitor - 主页（管理员）</title>
    
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
    
    <script type="text/javascript" th:src="@{/javascript/elementView.js}"></script>
    <!--<script type="text/javascript" th:src="@{/javascript/checkInput.js}"></script>-->
    <script>
        function checkEquipmentAdd() {
            var form = document.getElementById("equipmentAddForm");
            if (form.eqpType.value == "" || form.stringMatch.value == "" || form.indexTotal.value == ""
                    || form.alarmSerialMax.value == "") {
                alert("简介可以为空，其他项为必填项，请补充未填写的信息");
                window.event.returnValue = false;//验证失败不提交action
                // return false;
            }
            else if (form.eqpType.value.length > 32 || form.stringMatch.value.length > 32) {
                alert("设备类型和匹配字符串均不能超过32个字符");
                window.event.returnValue = false;//验证失败不提交action
            }
            else if (!/^[\w\-_]+$/.test(form.eqpType.value) || !/^[\w\-_]+$/.test(form.stringMatch.value)) {
                alert("设备类型和匹配字符串只能由字母、数字、-或下划线组成");
                window.event.returnValue = false;//验证失败不提交action
            }
            else if (!/^[1-9]\d*$/.test(form.indexTotal.value) || !/^[1-9]\d*$/.test(form.alarmSerialMax.value)) {
                alert("指标总数和警报界值总数必须是正整数");
                window.event.returnValue = false;//验证失败不提交action
            }
            else if (form.introduction.value.length > 100) {
                alert("简介不能超过100个字符");
                window.event.returnValue = false;//验证失败不提交action
            }
        }
        
        function submitOnMouseUpEquipmentAdd() {
            var addSubmit = document.getElementById("equipmentAddSubmit");
            addSubmit.style.backgroundColor = "#007BFF";
        }
        
        function submitOnMouseLeaveEquipmentAdd() {
            var addSubmit = document.getElementById("equipmentAddSubmit");
            addSubmit.style.backgroundColor = "#007BFF";
        }
    </script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    
    <!-- Sidebar -->
    <div th:replace="common::sidebar-admin"></div>
    <!-- End of Sidebar -->
    
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        
        <!-- Main Content -->
        <div id="content">
            
            <!-- Topbar -->
            <div th:replace="common::topbar-admin"></div>
            <!-- End of Topbar -->
            
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"></h1>
                </div>
                <div class="row">
                    <div class="col-lg-0">
                    
                    </div>
                    <div class="col-lg-12">
                        <div style="margin-top: 10px;margin-bottom: 80px">
                            <form id="equipmentAddForm" name="equipmentAddFrom" action="/manageCenter/setEquipmentAddEqpTypeIndex"
                                  accept-charset="utf-8" method="post"
                                  style="text-align:center;" onsubmit="checkEquipmentAdd()">
                                <!--margin:auto;margin-top:15%-->
                                <div class="d" style="height:auto;background-color:white;width:600px;border-radius:8px;border: 1px solid lightgrey;padding:0 5% 5% 5%;margin: auto;">
                                    <br/>
                                    <p style="font-size: 20px;text-align: center">添加设备类型</p>
                
                                    <p class="equipmentModifyReminder" style="text-align: left;font-size: 18px;text-indent: 3em">设备类型(代号)</p>
                                    <input type="text" id="eqpType" style="border-radius: 4px;margin-bottom: 10px" name="eqpType" placeholder="由字母、数字或下划线组成，例：BloodOxygen01"
                                           class="form-control small"/>
                
                                    <p class="equipmentModifyReminder" style="text-align: left;font-size: 18px;text-indent: 3em">匹配字符串</p>
                                    <input type="text" id="stringMatch" style="border-radius: 4px;margin-bottom: 10px" name="stringMatch" placeholder="该类型设备特征字符串，例：HITWH-BO01-R"
                                           class="form-control small"/>
                
                                    <p class="equipmentModifyReminder" style="text-align: left;font-size: 18px;text-indent: 3em">测量指标总数</p>
                                    <input type="text" id="indexTotal" style="border-radius: 4px;margin-bottom: 10px" name="indexTotal" placeholder="整数值，例：2" class="form-control small"/>
                                    <!--注意，测量指标总数不能小于1，界限总数也不能小于1-->
                                    <p class="equipmentModifyReminder" style="text-align: left;font-size: 18px;text-indent: 3em">警报界限总数</p>
                                    <input type="text" id="alarmSerialMax" style="border-radius: 4px;margin-bottom: 10px" name="alarmSerialMax" placeholder="整数值，例：4" class="form-control small"/>
                
                                    <p class="equipmentModifyReminder" style="text-align: left;font-size: 18px;text-indent: 3em">简介</p>
                                    <input type="text" id="introduction" style="border-radius: 4px;" name="introduction" placeholder="100字符以内" class="form-control small"/>
                
                                    <p style="height: 36px"></p>
                                    <input type="submit" id="equipmentAddSubmit" name="equipmentAddSubmit"
                                           style="font-size: 18px;height: 50px;width: 83%;border-radius: 4px;background-color: #007BFF;border: none;color: white"
                                           value="添    加"/>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-0">
                    
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        
        </div>
        <!-- End of Main Content -->
        <br/>
        <!-- Footer -->
        <div th:replace="common::footer"></div>
        <!-- End of Footer -->
    
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">确定要离开吗？</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">若要退出登录，选择下面的“确定”按钮</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                <a class="btn btn-primary" href="/userLogout">确定</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

</body>
</html>
