<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>HumanHealthMonitor - 主页（管理员）</title>
    
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
    
    <script type="text/javascript" th:src="@{/javascript/elementView.js}"></script>
    <style>
        input.inputStyle2 {
            font-size: 18px;
            height: 36px;
            width: 60%;
            text-indent: 0.5em;
        }
        
        input.inputStyle3 {
            font-size: 18px;
            height: 36px;
            width: 10%;
            text-indent: 0.5em;
        }
    </style>
    <script>
        function checkNetMaskModify() {
            var form = document.getElementById("netMaskModifyForm");
            if (form.netMaskName.value == "" || form.ipAddressPart1.value == "" || form.ipAddressPart2.value == ""
                    || form.ipAddressPart3.value == "" || form.ipAddressPart4.value == "") {
                alert("网关名称和地址的四部分均不能为空！");
                window.event.returnValue = false;//验证失败不提交action
                // return false;
            }
            else if (!/^[a-zA-Z0-9_\u4e00-\u9fa5]+$/.test(form.netMaskName.value)) {
                alert("网关名称只能由汉字、字母、数字和下划线组成");
                window.event.returnValue = false;//验证失败不提交action
            }
            else if (!/^[+]{0,1}(\d+)$/.test(form.ipAddressPart1.value) || !/^[+]{0,1}(\d+)$/.test(form.ipAddressPart2.value)
                    || !/^[+]{0,1}(\d+)$/.test(form.ipAddressPart3.value) || !/^[+]{0,1}(\d+)$/.test(form.ipAddressPart4.value)
                    || form.ipAddressPart1.value < 0 || form.ipAddressPart1.value > 255
                    || form.ipAddressPart2.value < 0 || form.ipAddressPart2.value > 255
                    || form.ipAddressPart3.value < 0 || form.ipAddressPart3.value > 255
                    || form.ipAddressPart4.value < 0 || form.ipAddressPart4.value > 255) {
                alert("格式错误，网关地址的每一部分必须是0-255之间的整数");
                window.event.returnValue = false;//验证失败不提交action
            }
        }
        
        function submitOnMouseUpNetMaskModify() {
            var modifySubmit = document.getElementById("netMaskModifySubmit");
            modifySubmit.style.backgroundColor = "#EE7700";
        }
        
        function submitOnMouseLeaveNetMaskModify() {
            var modifySubmit = document.getElementById("netMaskModifySubmit");
            modifySubmit.style.backgroundColor = "#FFA500";
        }
    </script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    
    <!-- Sidebar -->
    <div th:replace="common::sidebar-admin"></div>
    <!-- End of Sidebar -->
    
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        
        <!-- Main Content -->
        <div id="content">
            
            <!-- Topbar -->
            <div th:replace="common::topbar-admin"></div>
            <!-- End of Topbar -->
            
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"></h1>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                    
                    </div>
                    <div class="col-lg-4">
                        <div style="width: 100%">
                            <h4 style="text-align: center;color: #007BFF;">修改网关配置</h4>
                        </div>
                        <div style="width: 100%;min-height: 80%">
                            <div style="align-self: center">
                                <!--<p align="center" th:text="${objectNameSelected}" style="color: black;font-size: 20px;border: 0px;text-align: center"></p>-->
                                <form id="netMaskModifyForm" name="netMaskModifyForm" action="/manageCenter/setNetMaskModifyResult"
                                      accept-charset="utf-8" method="post"
                                      style="text-align:center;" onsubmit="checkNetMaskModify()">
                                    <!--margin:auto;margin-top:15%-->
                                    <div class="d" style="height:auto;background-color:white;width:auto;border-radius:8px;padding: 5%;border: 1px solid lightgrey;margin: auto;">
                                        <p style="font-size: 18px;text-align: center;color: #007BFF">&nbsp网关基本信息</p>
                                        <p style="text-align: left;=margin-top: 15px">
                                            <span class="netMaskModifyReminder" style="text-align: left;font-size: 18px">网关Id:</span>
                                            <span th:text="${netMask.netmaskId}" style="text-align: left;font-size: 18px"></span>
                                            <input type="hidden" id="netMaskId" name="netMaskId" th:value="${netMask.netmaskId}"/>
                                        </p>
                                        <p style="text-align: left;=margin-top: 15px">
                                            <span class="netMaskModifyReminder" style="text-align: left;font-size: 18px">网关名称:</span>
                                            <!--<span th:text="${netMask.netmaskName}" style="text-align: left;font-size: 28px"></span>-->
                                            <input type="text" id="netMaskName" name="netMaskName" th:value="${netMask.netmaskName}"
                                                   onfocus="this.ready()" onmouseout="this.blur()" class="form-control"/>
                                        </p>
                                        <p style="text-align: left;=margin-top: 15px">
                                            <span class="netMaskModifyReminder" style="text-align: left;font-size: 18px">通信协议:</span>
                                            <select id="protocolSelected" name="protocolSelected" class="form-control"
                                                    style="font-size: 18px;height: 36px;width: 50%;text-indent: 0.5em;">
                                                <option th:value="${protocolOne}" th:text="${protocolOne}"></option>
                                                <option th:value="${protocolTwo}" th:text="${protocolTwo}"></option>
                                            </select>
                                        </p>
                                        <input type="submit" id="netMaskModifySubmit" name="netMaskModifySubmit"
                                               style="font-size: 18px;height: 50px;width: 60%;background-color: #007BFF;border-radius: 4px;border: none;color: white;margin-top: 30px" value="保存网关配置"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                    
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <div th:replace="common::footer"></div>
        <!-- End of Footer -->
    
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">确定要离开吗？</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">若要退出登录，选择下面的“确定”按钮</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                <a class="btn btn-primary" href="/userLogout">确定</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

</body>
</html>
