<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>HumanHealthMonitor - 主页（管理员）</title>
    
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    
    
    <script>
        var alarmMessageChart;
        var onlineTimeCountChart;
        var influxCountChart;
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        // 使用
        require(
                [
                    'echarts',
                    'echarts/chart/line', //加载line模块，折线图
                    'echarts/chart/bar' // 加载bar模块，柱状图
                ],
                function (ec) {
                    // 基于准备好的dom，初始化echarts图表
                    // var myChart = ec.init(document.getElementById('alarmMessage'));
                    alarmMessageChart = ec.init(document.getElementById('alarmMessage'));
                    var option = {
                        title : {
                            text: '用户所关联监测对象警报短信月度总用量'
                            // subtext: '次标题'
                        },
                        tooltip : {
                            trigger: 'axis'
                        },
                        legend: {
                            data:['警报短信条数']
                            // data:['最高气温','最低气温']
                        },
                        toolbox: {
                            show : true,
                            feature : {
                                mark : {show: true},
                                dataView : {show: true, readOnly: false},
                                magicType : {show: true, type: ['bar','line']},
                                restore : {show: true},
                                saveAsImage : {show: true}
                            }
                        },
                        calculable : true,
                        xAxis : [
                            {
                                type : 'category',
                                name : '月份',
                                boundaryGap : false,
                                data : [[${yearMonthList}]]
                            }
                        ],
                        yAxis : [
                            {
                                type : 'value',
                                axisLabel : {
                                    formatter: '{value} 条'
                                }
                            }
                        ],
                        series : [
                            {
                                name:'警报短信条数',
                                type:'line',
                                // type:'bar',
                                data:[[${alarmMessageCountList}]],
                                markPoint : {
                                    data : [
                                        {type : 'max', name: '最大值'},
                                        {type : 'min', name: '最小值'}
                                    ]
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name: '平均值'}
                                    ]
                                }
                            }
                        ]
                    };
                    // 为echarts对象加载数据
                    alarmMessageChart.setOption(option);
                    
                    onlineTimeCountChart = ec.init(document.getElementById('onlineTimeCount'));
                    var option2 = {
                        title : {
                            text: '用户所关联监测对象月度在线总时长'
                            // subtext: '次标题'
                        },
                        tooltip : {
                            trigger: 'axis'
                        },
                        legend: {
                            data:['在线时长']
                        },
                        toolbox: {
                            show : true,
                            feature : {
                                mark : {show: true},
                                dataView : {show: true, readOnly: false},
                                magicType : {show: true, type: ['bar','line']},
                                restore : {show: true},
                                saveAsImage : {show: true}
                            }
                        },
                        calculable : true,
                        xAxis : [
                            {
                                type : 'category',
                                name : '月份',
                                boundaryGap : false,
                                data : [[${yearMonthList}]]
                            }
                        ],
                        yAxis : [
                            {
                                type : 'value',
                                axisLabel : {
                                    formatter: '{value}分钟'
                                }
                            }
                        ],
                        series : [
                            {
                                name:'在线时长',
                                type:'line',
                                // type:'bar',
                                data:[[${onlineTimeCountList}]],
                                markPoint : {
                                    data : [
                                        {type : 'max', name: '最大值'},
                                        {type : 'min', name: '最小值'}
                                    ]
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name: '平均值'}
                                    ]
                                }
                            }
                        ]
                    };
                    // 为echarts对象加载数据
                    onlineTimeCountChart.setOption(option2);
                    
                    
                    influxCountChart = ec.init(document.getElementById('influxCount'));
                    var option3 = {
                        title : {
                            text: '用户所关联监测对象时序数据月度总用量'
                            // subtext: '次标题'
                        },
                        tooltip : {
                            trigger: 'axis'
                        },
                        legend: {
                            data:['时序数据条数']
                        },
                        toolbox: {
                            show : true,
                            feature : {
                                mark : {show: true},
                                dataView : {show: true, readOnly: false},
                                magicType : {show: true, type: ['bar','line']},
                                restore : {show: true},
                                saveAsImage : {show: true}
                            }
                        },
                        calculable : true,
                        xAxis : [
                            {
                                type : 'category',
                                name : '月份',
                                boundaryGap : false,
                                data : [[${yearMonthList}]]
                                // data: ["2018-05", "2018-06", "2018-07", "2018-08", "2018-09", "2018-10", "2018-11", "2018-12", "2019-01", "2019-02", "2019-03", "2019-04"]
                            }
                        ],
                        yAxis : [
                            {
                                type : 'value',
                                axisLabel : {
                                    formatter: '{value} 条'
                                }
                            }
                        ],
                        series : [
                            {
                                name:'时序数据条数',
                                type:'line',
                                // type:'bar',
                                data:[[${influxCountList}]],
                                markPoint : {
                                    data : [
                                        {type : 'max', name: '最大值'},
                                        {type : 'min', name: '最小值'}
                                    ]
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name: '平均值'}
                                    ]
                                }
                            }
                        ]
                    };
                    // 为echarts对象加载数据
                    influxCountChart.setOption(option3);
                }
        );//require end
    </script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        style="font-family: 'Microsoft JhengHei Light'" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/indexAdmin">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">HumanHealth</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="/indexAdmin">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>首页</span></a>
        </li>
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link collapsed show-below-div" href="#" data-toggle="collapse" data-target="#collapseMonitor" aria-expanded="true"
               aria-controls="collapseMonitor">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>统计数据展示</span></a>
            <div id="collapseMonitor" class="collapse" aria-labelledby="headingMonitor" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/userInfoHallGroupData">平台统计数据</a>
                    <a class="collapse-item" href="/manageCenter/userInfoHallSingleSearch">用户统计数据</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            MANAGEMENT
        </div>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed show-below-div" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
               aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>新闻管理</span>
            </a>
            <!--class: show展开-->
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/manageCenter/newsMngPublish">发布新闻</a>
                    <a class="collapse-item" href="/manageCenter/newsMngInfoManage">已发布新闻管理</a>
                    <a class="collapse-item" href="/manageCenter/newsMainPictureManage">主页宣传区管理</a>
                </div>
            </div>
        </li>
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed show-below-div" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>设置</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/manageCenter/setEquipmentOverview">默认警报值设置</a>
                    <a class="collapse-item" href="/manageCenter/setNetMaskOverview">通信协议设置</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        
        <div class="sidebar-heading">
            ADMIN
        </div>
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed show-below-div" href="#" data-toggle="collapse" data-target="#collapseNetmask"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>管理员账户</span>
            </a>
            <div id="collapseNetmask" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/manageCenter/mngAccountPwdModify">密码修改</a>
                    <a class="collapse-item" href="/adminLogout">退出登录</a>
                
                </div>
            </div>
        </li>
        
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->
    
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        
        <!-- Main Content -->
        <div id="content">
            
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
    
                <h4 style="font-family: 宋体;text-align: center;">&nbsp;人体健康监测平台</h4>
    
    
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    
                    
                    
                    
                    <div class="topbar-divider d-none d-sm-block"></div>
                    
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle show-below-div" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">我的</span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/manageCenter/mngAccountPwdModify">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                修改密码
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/adminLogout" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                退出登陆
                            </a>
                        </div>
                    </li>
                
                </ul>
            
            </nav>
            <!-- End of Topbar -->
            
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"></h1>
                </div>
                <div class="row">
                    <div class="col-lg-0">
                    
                    </div>
                    <div class="col-lg-12">
                        <div style="width: 100%;min-height: 80%">
                            <table id="equipmentTable" style="width: 100%">
                                <tr>
                                    <td>
                                        <div id="alarmMessage" style="height:500px;background-color:white;width:1300px;border: 1px solid lightgrey;margin: auto;">
                                            <!--<p style="font-size: 20px;text-align: left;color: blue">警报短信量</p>-->
                                            <!--在此绘制实时监测折线图-->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="onlineTimeCount" style="height:500px;background-color:white;width:1300px;border: 1px solid lightgrey;margin: auto;">
                                            <!--<p style="font-size: 20px;text-align: left;color: blue">在线总时长</p>-->
                                            <!--在此绘制实时监测折线图-->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="influxCount" style="height:500px;background-color:white;width:1300px;border: 1px solid lightgrey;margin: auto;">
                                            <!--<p style="font-size: 20px;text-align: left;color: blue">时序数据传输量</p>-->
                                            <!--在此绘制实时监测折线图-->
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-0">
                    
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © 2019 哈尔滨工业大学（威海）计算机科学与技术学院  嵌入式研发中心</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">确定要离开吗？</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">若要退出登录，选择下面的“确定”按钮</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                <a class="btn btn-primary" href="/userLogout">确定</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<script type = "text/javascript">
    
    
    $(document).ready(function () {
        console.log('the documnt is ready!')
        
        $(".show-below-div").click(function () {
            console.log('<display>: ' + $(this).next().css('display'));
            console.log($(this).next().css('display') === 'none')
            if ($(this).next().css('display') === 'none') {
                $(this).next().css('display', 'block')
            }
            else {
                $(this).next().css('display', 'none')
            }
        })
    })
</script>

</body>
</html>
