<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>HumanHealthMonitor - 主页</title>
    
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
    
    <script type="text/javascript" th:src="@{/javascript/elementView.js}"></script>
    <style>
        input.inputStyle2 {
            font-size: 18px;
            height: 36px;
            width: 60%;
            text-indent: 0.5em;
        }
    </style>
    <script>
        function checkObjectModify() {
            var form = document.getElementById("objectModifyForm");
            if (form.telephone.value == "") {
                alert("新手机号不能为空，请重新填写");
                window.event.returnValue = false;//验证失败不提交action
                // return false;
            }
            else if (!/^[1][3,4,5,7,8][0-9]{9}$/.test(form.telephone.value)) {
                alert("手机号格式错误，请填写正确的手机号");
                window.event.returnValue = false;//验证失败不提交action
            }
        }
        
        function submitOnMouseUpObjectModify() {
            var modifySubmit = document.getElementById("objectModifySubmit");
            modifySubmit.style.backgroundColor = "#007BFF";
        }
        
        function submitOnMouseLeaveObjectModify() {
            var modifySubmit = document.getElementById("objectModifySubmit");
            modifySubmit.style.backgroundColor = "#007BFF";
        }
    </script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        style="font-family: 'Microsoft JhengHei Light'" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/indexObject">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">HumanHealth</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/indexObject">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>首&nbsp&nbsp&nbsp&nbsp页</span></a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link collapsed" href="/objInfoHallOnTime">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>实时监测信息</span></a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link collapsed" href="/objInfoHallHistory">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>历史监测信息</span></a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link collapsed" href="/healthCenter/objAccountBasicInfo">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>基本信息管理</span></a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link collapsed" href="/healthCenter/objAccountPwdModify">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>密码服务</span></a>
        </li>
        
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->
    
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        
        <!-- Main Content -->
        <div id="content">
            
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
    
                <h4 style="font-family: 宋体;text-align: center;">&nbsp;人体健康监测平台</h4>
    
    
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    
                    
                    
                    
                    <div class="topbar-divider d-none d-sm-block"></div>
                    
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">我的</span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/healthCenter/objAccountBasicInfo">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                基本信息
                            </a>
                            <a class="dropdown-item" href="/healthCenter/objAccountPwdModify">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                修改密码
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/objectLogout" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                退出登陆
                            </a>
                        </div>
                    </li>
                
                </ul>
            
            </nav>
            <!-- End of Topbar -->
            
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"></h1>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                    
                    </div>
                    <div class="col-lg-4">
                        <div style="width: 100%">
                            <h4 style="text-align: center;color: blue;">账户信息</h4>
                        </div>
                        <div style="width: 100%;min-height: 80%">
                            <div style="align-self: center">
                                <!--<p align="center" th:text="${objectNameSelected}" style="color: black;font-size: 20px;border: 0px;text-align: center"></p>-->
                                <form id="objectModifyForm" name="objectModifyFrom" action="/healthCenter/objAccountBasicInfoModify"
                                      accept-charset="utf-8" method="post" style="text-align:center;" onsubmit="checkObjectModify()">
                                    <!--margin:auto;margin-top:15%-->
                                    <div class="d" style="height:auto;background-color:white;width:auto;border-radius: 4px;border: 1px solid lightgrey;padding: 5%;margin: auto;">
                                        <p style="font-size: 20px;text-align: center;color: #007BFF">&nbsp基本信息</p>
                                        <div class="form-inline">
                                            <span class="objectModifyReminder" style="text-align: right;font-size: 18px;width: 30%">账号:&nbsp;&nbsp;</span>
                                            <span th:text="${object.objectId}" th:value="${object.objectId}"
                                                  style="text-align: left;font-size: 18px;width: 60%"></span>
                                            <input type="hidden" id="objectIdInfo" name="objectIdInfo" th:value="${object.objectId}"/>
                                        </div>
                                        <div class="form-inline">
                                            <span class="objectModifyReminder" style="text-align: right;font-size: 18px;width: 30%">昵称:&nbsp;&nbsp;</span>
                                            <span th:text="${object.objectName}" style="text-align: left;font-size: 18px;width: 60%"></span>
                                        </div>
                                        <div class="form-inline">
                                            <span class="objectModifyReminder" style="text-align: right;font-size: 18px;width: 30%">性别:&nbsp;&nbsp;</span>
                                            <span th:text="${object.sex}" style="text-align: left;font-size: 18px;width: 60%"></span>
                                        </div>
                                        <div class="form-inline">
                                            <span class="objectModifyReminder" style="text-align: right;font-size: 18px;width: 30%">出生日期:&nbsp;&nbsp;</span>
                                            <span th:text="${object.birthDate}" style="text-align: left;font-size: 18px;width: 60%"></span>
                                            <!--<input type="date" id="birthday" name="birthday" th:value="${object.birthDate}" class="inputStyle2"/>-->
                                        </div>
                                        <div class="form-inline">
                                            <span class="objectModifyReminder" style="text-align: right;font-size: 18px;width: 30%">手机号码:&nbsp;&nbsp;</span>
                                            <input type="text" id="telephone" name="telephone" th:value="${object.objectTel}" style="width: 60%"
                                                   onfocus="this.ready()" onmouseout="this.blur()" class="form-control"/>
                                        </div>
                                        <input type="submit" id="objectModifySubmit" name="objectModifySubmit"
                                               style="font-size: 18px;height: 50px;width: 60%;background-color: #007BFF;border-radius: 4px;border: none;color: white;margin-top: 30px"
                                               value="保存新手机号"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                    
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        
        </div>
        <!-- End of Main Content -->
        
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © 2019 哈尔滨工业大学（威海）计算机科学与技术学院  嵌入式研发中心</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">确定要离开吗？</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">若要退出登录，选择下面的“确定”按钮</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                <a class="btn btn-primary" href="/userLogout">确定</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

</body>
</html>
