
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*基础语法*/
a {
    text-decoration: none;
}

/*id选择器*/
#header {
    background-color: white;
    /*background-color: black;*/
    color: blue;
    /*color: white;*/
    /*text-align: right;*/
    height: 50px;
    padding: 3px;
}

/*input元素基于它们的类而被设置*/
input.inputStyle1 {
    font-size: 18px;
    height: 36px;
    width: 81%;
    text-indent: 0.5em;
}

/*类选择器，新闻标题*/
.newsCapital {
    font-size: x-large;
    color: blue;
}

/*.objectAddReminder{*/
/*font-size: 28px;*/
/*align-self: left;*/
/*text-align: left;*/
/*}*/