<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!--<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <title>更改警报界限</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navigationBar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
    <script type="text/javascript" th:src="@{/javascript/elementView.js}"></script>
    <script>
        function checkNewValue() {
            var form = document.getElementById("modifyAlarmForm");
            if (form.newValue.value == "") {
                alert("新的警戒值不能为空");
                window.event.returnValue = false;//验证失败不提交action
                // return false;
            }
            else if (form.newValue.value.length > 10)
            // || form.telephone.value.length > 32
            {
                alert("新的警戒值不能超过10位");
                window.event.returnValue = false;//验证失败不提交action
            }
            else if (!/^[0-9]+([.]{1}[0-9]+){0,1}$/.test(form.newValue.value)) {
                alert("格式错误，只能输入整数或小数！");
                window.event.returnValue = false;//验证失败不提交action
            }
        }

        function submitOnMouseUpModifyAlarm() {
            var searchSubmit = document.getElementById("modifyAlarmSubmit");
            searchSubmit.style.backgroundColor = "#EE7700";
        }

        function submitOnMouseLeaveModifyAlarm() {
            var searchSubmit = document.getElementById("modifyAlarmSubmit");
            searchSubmit.style.backgroundColor = "#FFA500";
        }
    </script>
</head>

<body>
<div id="header">
    <a href="/login" style="color: blueviolet;font-size: 30px">人&nbsp体&nbsp健&nbsp康&nbsp监&nbsp测&nbsp平&nbsp台</a>
    <br/>
    <div style="float: left;width: 60%;text-align: left">
        <a href="/login" style="color: blueviolet;font-size: 18px">Human Health Monitoring Platform</a>
    </div>
    <div style="float: left;width: 40%;text-align: right">
        <span style="color: darkgrey;font-size: 18px">您好！<td th:text="${user.userName}"></td></span>
        <!--<a href="/monitorCenter/infoHallOnTime" style="text-align: right;font-size: 18px">监测中心&nbsp|</a>-->
        <a href="/userLogout" style="text-align: right;font-size: 18px">退出登录&nbsp|</a>
        <a href="/help" target="_blank" style="text-align: right;font-size: 18px">帮助</a>
    </div>
</div>

<!--<hr width="100%" color="#0080FF" size="2"/>-->

<div id="head-nav" class="head-nav">
    <div class="head-nav-con">
        <ul>
            <li><a href="/indexUser">首&nbsp&nbsp&nbsp&nbsp页</a></li>
            <li class="drop-down"><a href="javascript:void(0)">监测信息</a>
                <ul class="drop-down-content">
                    <li><a href="/infoHallOnTime">实时监测信息</a></li>
                    <li><a href="/infoHallHistory">历史监测信息</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="javascript:void(0)">监测设备</a>
                <ul class="drop-down-content">
                    <li><a href="/monitorCenter/equipmentAdd">添加设备</a></li>
                    <li><a href="/monitorCenter/equipmentInfoManage">设备信息管理</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="javascript:void(0)">监测对象</a>
                <ul class="drop-down-content">
                    <li><a href="/monitorCenter/objectAdd">添加监测对象</a></li>
                    <li><a href="/monitorCenter/objectInfoManage">监测对象信息管理</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="javascript:void(0)">用户账户</a>
                <ul class="drop-down-content">
                    <li><a href="/monitorCenter/accountBasicInfo">基本信息</a></li>
                    <li><a href="/monitorCenter/accountPwdModify">密码修改</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div style="width: 100%">
    <h1 style="text-align: center;color: blue;">设备信息管理-更改警报界限</h1>
    <p style="text-align: right;margin-right: 10px">
        <a href="/monitorCenter/equipmentInfoManage"
           style="text-align: right;font-size: 22px;text-decoration-line: underline">返回设备信息管理</a>
    </p>
</div>

<div style="width: 100%;min-height: 80%">
    <form id="modifyAlarmForm" name="modifyAlarmFrom" action="/monitorCenter/modifyAlarmValueResult"
          accept-charset="utf-8" method="post"
          style="text-align:center;" onsubmit="checkNewValue()">
        <div class="d"
             style="height:520px;background-color:white;width:950px;border: 1px solid lightgrey;border-bottom:0;margin: auto;">
            <br/>
            <p style="font-size: 28px;text-align: left;text-indent: 2em;color: blue" th:text="${eqpId}">
            </p>
            <input type="hidden" id="eqpIdInModifyAlarmValue" name="eqpIdInModifyAlarmValue" th:value="${eqpId}"/>
            <p style="text-align: left;text-indent: 4em">
            <p style="text-align: left;font-size: 28px;text-indent: 2em">选择要更改的警报界限:</p>
            <select id="alarmValueSelected" name="alarmValueSelected"
                    style="font-size: 18px;height: 36px;width: 60%;text-indent: 0.5em;">
                <option th:each="alarmValue:${alarmValueList}" th:value="${alarmValue.serial}"
                        th:text="${alarmValue.valueName}"
                        style="font-size: 22px"></option>
            </select>
            </p>
            <p style="text-align: left;font-size: 28px;text-indent: 2em">填写新的警报值:</p>
            <input type="text" style="font-size: 22px;height: 36px;width: 60%;text-indent: 0.5em;" id="newValue"
                   name="newValue" onfocus="this.ready()" onmouseout="this.blur()"/>
            </p>
            <p style="text-align: right;margin-right: 20%">
                <input type="submit" id="modifyAlarmSubmit" name="modifyAlarmSubmit"
                       style="font-size: 18px;height: 50px;width: 20%;background-color: #FFA500;border: none;color: white;margin-top: 30px"
                       value="确定" onmouseover="submitOnMouseUpModifyAlarm()"
                       onmouseleave="submitOnMouseLeaveModifyAlarm()"/>
                <!--<input type="submit" formaction="/monitorCenter/equipmentInfoManage"-->
                <!--style="font-size: 18px;height: 50px;width: 20%;background-color: #FFA500;border: none;color: white;margin-left: 20%"-->
                <!--value="取消并返回"/>-->
                <!--这里“取消并返回也会验证表单onsubmit方法，此处不适合submit”-->
            </p>

        </div>
    </form>

    <form action="/monitorCenter/modifyAlarmValueReset">
        <div class="d"
             style="height:150px;background-color:white;width:950px;border: 1px solid lightgrey;border-top:0;margin: auto;">
            <p style="text-align: right;margin-right: 20%;margin-top: 0">
                <span style="font-size: 20px;color: black">高级选项：</span>
                <input type="submit"
                       style="font-size: 18px;height: 50px;width: 20%;background-color: #FFA500;border: none;color: white;margin-left: 10%"
                       value="重置警报值"/>
                <input type="hidden" id="eqpIdInModifyAlarmValueReset" name="eqpIdInModifyAlarmValueReset"
                       th:value="${eqpId}"/>
            </p>
            <p style="text-align: right;margin-right: 20%">
                <span style="font-size: 20px;color: blue">备注：重置该设备所有警戒值为设备默认警戒值</span>
            </p>
            <!--<p style="text-align: right;margin-right: 20%">-->
            <!--<span style="font-size: 20px;color: blue">为设备默认警戒值</span>-->
            <!--</p>-->
        </div>
    </form>
</div>

<iframe frameborder="0" scrolling="no" marginwidth="0" marginheight="0" width="100%"
        th:src="@{/master/footer.html}"></iframe>
</body>
</html>