<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!--<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <title>账户信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navigationBar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
    <script type="text/javascript" th:src="@{/javascript/elementView.js}"></script>
    <style>
        input.inputStyle2 {
            font-size: 18px;
            height: 36px;
            width: 60%;
            text-indent: 0.5em;
        }
    </style>
    <script>
        function checkObjectModify() {
            var form = document.getElementById("objectModifyForm");
            if (form.telephone.value == "") {
                alert("新手机号不能为空，请重新填写");
                window.event.returnValue = false;//验证失败不提交action
                // return false;
            }
            else if (!/^[1][3,4,5,7,8][0-9]{9}$/.test(form.telephone.value)) {
                alert("手机号格式错误，请填写正确的手机号");
                window.event.returnValue = false;//验证失败不提交action
            }
        }

        function submitOnMouseUpObjectModify() {
            var modifySubmit = document.getElementById("objectModifySubmit");
            modifySubmit.style.backgroundColor = "#EE7700";
        }

        function submitOnMouseLeaveObjectModify() {
            var modifySubmit = document.getElementById("objectModifySubmit");
            modifySubmit.style.backgroundColor = "#FFA500";
        }
    </script>
</head>

<body>
<div id="header">
    <a href="/login" style="color: blueviolet;font-size: 30px">人&nbsp体&nbsp健&nbsp康&nbsp监&nbsp测&nbsp平&nbsp台</a>
    <br/>
    <div style="float: left;width: 60%;text-align: left">
        <a href="/login" style="color: blueviolet;font-size: 18px">Human Health Monitoring Platform</a>
    </div>
    <div style="float: left;width: 40%;text-align: right">
        <span style="color: darkgrey;font-size: 18px">您好！<td th:text="${object.objectName}"></td></span>
        <!--<a href="/monitorCenter/infoHallOnTime" style="text-align: right;font-size: 18px">监测中心&nbsp|</a>-->
        <a href="/objectLogout" style="text-align: right;font-size: 18px">退出登录&nbsp|</a>
        <a href="/help" target="_blank" style="text-align: right;font-size: 18px">帮助</a>
    </div>
</div>

<!--<hr width="100%" color="#0080FF" size="2"/>-->

<!--<iframe frameborder="0" scrolling="no" marginwidth="0" marginheight="0" width="100%"-->
<!--th:src="@{/master/userNavigationBar.html}"></iframe>-->

<div class="head-nav">
    <!--<div class="head-nav-con clearFloat">-->
    <div class="head-nav-con">
        <ul>
            <li><a href="/indexObject">首&nbsp&nbsp&nbsp&nbsp页</a></li>
            <li><a href="/objInfoHallOnTime">实时监测信息</a></li>
            <li><a href="/objInfoHallHistory">历史监测信息</a></li>
            <li><a href="/healthCenter/objAccountBasicInfo">账户信息</a></li>
            <li><a href="/healthCenter/objAccountPwdModify">密码服务</a></li>
        </ul>
    </div>
</div>

<div style="width: 100%">
    <h1 style="text-align: center;color: blue;">账户信息</h1>
</div>
<div style="width: 100%;min-height: 80%">
    <div style="align-self: center">
        <!--<p align="center" th:text="${objectNameSelected}" style="color: black;font-size: 20px;border: 0px;text-align: center"></p>-->
        <form id="objectModifyForm" name="objectModifyFrom" action="/healthCenter/objAccountBasicInfoModify"
              accept-charset="utf-8" method="post"
              style="text-align:center;" onsubmit="checkObjectModify()">
            <!--margin:auto;margin-top:15%-->
            <div class="d" style="height:550px;background-color:white;width:950px;
        border: 1px solid lightgrey;margin: auto;">
                <br/>
                <p style="font-size: 28px;text-align: left;text-indent: 2em;color: blue">&nbsp基本信息
                </p>
                <p style="text-align: left;text-indent: 7.5em">
                    <span class="objectModifyReminder" style="text-align: left;font-size: 28px">账号:</span>
                    <span th:text="${object.objectId}" th:value="${object.objectId}"
                          style="text-align: left;font-size: 28px"></span>
                    <input type="hidden" id="objectIdInfo" name="objectIdInfo" th:value="${object.objectId}"/>
                </p>
                <p style="text-align: left;text-indent: 7.5em;margin-top: 15px">
                    <span class="objectModifyReminder" style="text-align: left;font-size: 28px">昵称:</span>
                    <span th:text="${object.objectName}" style="text-align: left;font-size: 28px"></span>
                </p>
                <p style="text-align: left;text-indent: 7.5em;margin-top: 15px">
                    <span class="objectModifyReminder" style="text-align: left;font-size: 28px">性别:</span>
                    <span th:text="${object.sex}" style="text-align: left;font-size: 28px"></span>
                </p>
                <p style="text-align: left;text-indent: 4em;margin-top: 15px">
                    <span class="objectModifyReminder" style="text-align: left;font-size: 28px">出生日期:</span>
                    <span th:text="${object.birthDate}" style="text-align: left;font-size: 28px"></span>
                    <!--<input type="date" id="birthday" name="birthday" th:value="${object.birthDate}" class="inputStyle2"/>-->
                </p>
                <p style="text-align: left;text-indent: 4em;margin-top: 15px">
                    <span class="objectModifyReminder" style="text-align: left;font-size: 28px">手机号码:</span>
                    <input type="text" id="telephone" name="telephone" th:value="${object.objectTel}"
                           onfocus="this.ready()" onmouseout="this.blur()" class="inputStyle2"/>
                </p>
                <input type="submit" id="objectModifySubmit" name="objectModifySubmit"
                       style="font-size: 18px;height: 50px;width: 60%;background-color: #FFA500;border: none;color: white"
                       value="保存新手机号" onmouseover="submitOnMouseUpObjectModify()"
                       onmouseleave="submitOnMouseLeaveObjectModify()"/>
            </div>
        </form>
    </div>
</div>
<!--<div style="margin-top: 80px;margin-bottom: 80px">-->

<!--</div>-->

<iframe frameborder="0" scrolling="no" marginwidth="0" marginheight="0" width="100%"
        th:src="@{/master/footer.html}"></iframe>
</body>
</html>