<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>HumanHealthMonitor - 添加设备</title>
    
    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    
    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
    <script type="text/javascript" th:src="@{/javascript/elementView.js}"></script>

    <style>
        .shadow-5{
            -webkit-box-shadow: 0 1px 5px 0 rgba(0,34,77,.12);
            -moz-box-shadow: 0 1px 5px 0 rgba(0,34,77,.12);
            box-shadow: 0 1px 5px 0 rgba(0,34,77,.12);
        }
    </style>
    
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    
    <!-- Sidebar -->
    <div th:replace="common::sidebar-user"></div>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <div th:replace="common::topbar-user"></div>
            <!-- End of Topbar -->
            
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"></h1>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6">
                        <!--margin:auto;margin-top:15%-->
                        <div class="d shadow-5" style="font-family:'Microsoft JhengHei UI';padding:0 10% 10% 10%;height:auto;background-color:#fefefe;width:600px;border: 1px solid lightgrey;margin: auto;
                               border-radius: 10px;">
                            <br/>
                            <p class="center-block" style="font-size: 24px;text-align: center;">添加设备</p>
                            <div style="width: auto">
                                <p class="equipmentModifyReminder" style="display: inline;width: 20%;margin:0;text-align: center;font-size: 18px;text-indent: 3em">设备类型</p>
                                <select class="form-control bg-light border-0 small" id="eqpTypeSelected" name="eqpTypeSelected" style="display:inline;margin-left:0;margin-right:0;font-size: 18px;height: 36px;width: 70%;text-indent: 0.5em;">
                                    <option th:each="eqpType:${eqpTypeList}" th:value="${eqpType.eqpType}" th:text="${eqpType.eqpTypeCHName}"></option>
                                </select>
                            </div>
                            <br/>
                            <div style="width: auto">
                                <p class="equipmentModifyReminder" style="display: inline;width:20%;text-align: center;font-size: 18px;text-indent: 3em">设备编号</p>
                                <input type="text" id="eqpId" name="eqpId" placeholder="  请输入设备上标注的设备识别号码" class="form-control bg-light border-0 small" style="display: inline;width: 70%;margin-left: 0;margin-right: 0;"/>
                            </div>
                            <br/>
                            <div style="width: auto">
                                <p class="equipmentModifyReminder" style="display: inline;width:20%;text-align: center;font-size: 18px;text-indent: 3em">设备名称</p>
                                <input type="text" id="eqpName" name="eqpName" value="" placeholder="  只能由汉字、字母、数字和下划线组成"
                                       class="form-control bg-light border-0 small" style="display: inline;width: 70%;margin-left: 0;margin-right: 0;"/>
                            </div>
                            <br/>
                            <div style="width: auto">
                                <p class="equipmentModifyReminder" style="display: inline;width:20%;text-align: center;font-size: 18px;text-indent: 3em">绑定对象</p>
                                <select id="objectSelected" name="objectSelected" class="form-control bg-light border-0 small" style="display: inline;font-size: 18px;height: 36px;width: 70%;margin-left:0;margin-right:0;text-indent: 0.5em;">
                                    <option th:each="object:${objectList}" th:value="${object.objectId}"
                                            th:text="${object.objectName}"></option>
                                </select>
                            </div>
                            <br/>
                            <p style="height: 36px"></p>
                            <p style="text-align: center;font-size: 12px;">点击下方“添加”按钮后请等待15秒，15秒后将返回添加结果</p>
                            <input type="submit" id="equipmentAddSubmit" name="equipmentAddSubmit" class="border-radius-4"
                                   style="font-size: 18px;height: 50px;margin-left: 20%;background-color: #007BFF;width: 60%;border-radius: 4px;border: none;color: white" th:onclick="'javascript:send()'" value="添         加"/>
                        </div>
                    </div>
                    <div class="col-lg-3">
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        
        <br/>
        
        <!-- Footer -->
        <div th:replace="common::footer"></div>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">确定要离开吗？</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">若要退出登录，选择下面的“确定”按钮</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                <a class="btn btn-primary" href="/userLogout">确定</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script type="text/javascript" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<!-- Custom scripts for all pages-->
<script type="text/javascript" th:src="@{/js/sb-admin-2.min.js}"></script>
<script type = "text/javascript">
    ipAddressServer = "101.132.105.38";
    ipAddressLocal = "localhost";
    checkEquipmentAdd = function () {
        var form = document.getElementById("");
        if ($("#eqpId").val() == "" || $("#eqpName").val() == "") {
            alert("您有信息尚未填写，请补充未填写的信息");
        }
        else if ($("#eqpId").val() > 32 || $("#eqpName").val() > 32){
            alert("设备名称和设备号均不能超过32个字符");
        }
        else if (!/^[a-zA-Z0-9_\u4e00-\u9fa5]+$/.test($("#eqpName").val())) {
            alert("设备名称只能由汉字、字母、数字和下划线组成");
        }
    }
    send = function (){
        checkEquipmentAdd()
        console.log("[function: send]: start");
        tosenddata={
            "eqpTypeSelected": $("#eqpTypeSelected").val(),
            "eqpId": $("#eqpId").val(),
            "eqpName": $("#eqpName").val(),
            "objectSelected": $("#objectSelected").val()
        };
        console.log("send start")
        console.log($("#eqpTypeSelected").val() + " " + $("#eqpId").val() + " " + $("#eqpName").val()+ " " + $("#objectSelected").val())
        $.ajax({
            url:'http://'+ipAddressLocal+':8081/rest/monitorCenter/equipmentAddResult',
            type:"POST",
            contentType: 'application/json; charset=UTF-8',
            data:JSON.stringify(tosenddata),
            dataType:'json',
            success:function (data) {
                console.log("[function:send:ajax]the success return message is " + data.msg);
                if(data.msg === "success"){
                    alert("绑定成功！");
                }
                else if(data.msg === "hadbind") {
                    alert("已绑定！");
                }
                else {
                    alert("失败！");
                }
            },
            error:function(a,b,c) {
                console.log("[function:send:ajax]the error return message is " + data.msg);
                console.log(a.status+"::"+a.readyState+"::"+b)
            }
        })
        $.ajax({
            url:'http://'+ipAddressServer+':8081/rest/monitorCenter/equipmentAddResult',
            type:"POST",
            contentType: 'application/json; charset=UTF-8',
            data:JSON.stringify(tosenddata),
            dataType:'json',
            success:function (data) {
                console.log("[function:send:ajax]the success return message is " + data.msg);
                if(data.msg === "success"){
                    alert("绑定成功！");
                }
                else if(data.msg === "hadbind") {
                    alert("已绑定！");
                }
                else {
                    alert("失败！");
                }
            },
            error:function(a,b,c) {
                console.log("[function:send:ajax]the error return message is " + data.msg);
                console.log(a.status+"::"+a.readyState+"::"+b)
            }
        })
    }
    $(document).ready(function () {
    })
</script>


</body>
</html>
