<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!--<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <title th:text="${news.newsHead}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navigationBar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
    <script type="text/javascript" th:src="@{/javascript/elementView.js}"></script>
</head>
<body>
<div id="header">
    <a href="/login" style="color: blueviolet;font-size: 30px">人&nbsp体&nbsp健&nbsp康&nbsp监&nbsp测&nbsp平&nbsp台</a>
    <br/>
    <div style="float: left;width: 60%;text-align: left">
        <a href="/login" style="color: blueviolet;font-size: 18px">Human Health Monitoring Platform</a>
    </div>
    <div style="float: left;width: 40%;text-align: right">
        <span style="color: darkgrey;font-size: 18px">您好！<td th:text="${object.objectName}"></td></span>
        <!--<a href="/manageCenter/userInfoHallGroupData" style="text-align: right">管理中心&nbsp|</a>-->
        <a href="/objectLogout" style="text-align: right;font-size: 18px">退出登录&nbsp|</a>
        <a href="/help" target="_blank" style="text-align: right;font-size: 18px">帮助</a>
    </div>
</div>
<!--<hr width="100%" color="#0080FF" size="2"/>-->
<div class="head-nav">
    <!--<div class="head-nav-con clearFloat">-->
    <div class="head-nav-con">
        <ul>
            <li><a href="/indexObject">首&nbsp&nbsp&nbsp&nbsp页</a></li>
            <li><a href="/objInfoHallOnTime">实时监测信息</a></li>
            <li><a href="/objInfoHallHistory">历史监测信息</a></li>
            <li><a href="/healthCenter/objAccountBasicInfo">账户信息</a></li>
            <li><a href="/healthCenter/objAccountPwdModify">密码服务</a></li>
        </ul>
    </div>
</div>

<div style="width: 60%;margin-left: 20%;margin-right: 20%">
    <h1 th:text="${news.newsHead}" style="text-align: center;color: blue;"></h1>
    <h3 th:text="${news.publishDate}" style="text-align: right;color: blue"></h3>
</div>
<div style="width: 60%;margin-left: 20%;margin-right: 20%;margin-top: 20px;text-align: left;min-height: 80%">
    <pre style="font-size: 24px;line-height: 32px;white-space: pre-wrap" th:text="${news.newsContent}"></pre>
</div>

<iframe name="" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" width="100%"
        th:src="@{/master/footer.html}"></iframe>
</body>
</html>