<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!--<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <title>设置中心-设备信息修改</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navigationBar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
    <script type="text/javascript" th:src="@{/javascript/elementView.js}"></script>
    <style>
        input.inputStyle2 {
            font-size: 18px;
            height: 36px;
            width: 40%;
            text-indent: 0.5em;
        }

        input.inputStyle3 {
            font-size: 18px;
            height: 36px;
            width: 70%;
            text-indent: 0.5em;
        }
    </style>
    <script>
        function checkEquipmentModify() {
            var form = document.getElementById("equipmentModifyForm");
            if (form.introduction.value == "") {
                alert("简介不能为空");
                window.event.returnValue = false;//验证失败不提交action
                // return false;
            }
            else if (form.introduction.value.length > 100)
            // || form.telephone.value.length > 32
            {
                alert("设备简介不能超过100个字符");
                window.event.returnValue = false;//验证失败不提交action
            }
        }

        function submitOnMouseUpEquipmentModify() {
            var modifySubmit = document.getElementById("equipmentModifySubmit");
            modifySubmit.style.backgroundColor = "#EE7700";
        }

        function submitOnMouseLeaveEquipmentModify() {
            var modifySubmit = document.getElementById("equipmentModifySubmit");
            modifySubmit.style.backgroundColor = "#FFA500";
        }
    </script>
</head>

<body>
<div id="header">
    <a href="/login" style="color: blueviolet;font-size: 30px">人&nbsp体&nbsp健&nbsp康&nbsp监&nbsp测&nbsp平&nbsp台</a>
    <br/>
    <div style="float: left;width: 60%;text-align: left">
        <a href="/login" style="color: blueviolet;font-size: 18px">Human Health Monitoring Platform</a>
    </div>
    <div style="float: left;width: 40%;text-align: right">
        <span style="color: darkgrey;font-size: 18px">您好！管理员<td th:text="${admin.adminId}"></td></span>
        <!--<a href="/monitorCenter/infoHallOnTime" style="text-align: right;font-size: 18px">监测中心&nbsp|</a>-->
        <a href="/adminLogout" style="text-align: right;font-size: 18px">退出登录&nbsp|</a>
        <a href="/help" target="_blank" style="text-align: right;font-size: 18px">帮助</a>
    </div>
</div>

<!--<hr width="100%" color="#0080FF" size="2"/>-->

<div class="head-nav">
    <!--<div class="head-nav-con">-->
    <div class="head-nav-con clearFloat">
        <ul>
            <li><a href="/indexAdmin">首&nbsp&nbsp&nbsp&nbsp页</a></li>
            <li class="drop-down"><a href="#">数据中心</a>
                <ul class="drop-down-content">
                    <li><a href="/userInfoHallGroupData">群体数据统计</a></li>
                    <li><a href="/manageCenter/userInfoHallSingleSearch">用户详细数据</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="#">新闻中心</a>
                <ul class="drop-down-content">
                    <li><a href="/manageCenter/newsMngPublish" target="_blank">发布新闻</a></li>
                    <li><a href="/manageCenter/newsMngInfoManage">新闻信息管理</a></li>
                    <li><a href="/manageCenter/newsMainPictureManage">主页图片管理</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="#">设置中心</a>
                <ul class="drop-down-content">
                    <!--<li><a href="/manageCenter/setNetMaskOverview">网关设置</a></li>-->
                    <li><a href="/manageCenter/setEquipmentOverview">设备与默认警报值</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="#">管理员账户</a>
                <ul class="drop-down-content">
                    <!--<li><a href="#">基本信息</a></li>-->
                    <li><a href="/manageCenter/mngAccountPwdModify">密码修改</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div style="width: 100%">
    <h1 style="text-align: center;color: blue;">设备类型信息详情</h1>
</div>
<div style="width: 100%;min-height: 80%">
    <div style="width: 70%;margin-right: 15%;margin-left: 15%">
        <!--<p align="center" th:text="${equipment.}" style="color: black;font-size: 20px;border: 0px;text-align: center"></p>-->

        <!--margin:auto;margin-top:15%-->
        <div class="d" style="height:500px;background-color:white;width:950px;
        border: 1px solid lightgrey;margin: auto;">
            <form id="equipmentModifyForm" name="equipmentModifyForm" action="/manageCenter/setEquipmentModifyInfoSave"
                  accept-charset="utf-8" method="post"
                  style="text-align:center;" onsubmit="checkEquipmentModify()">
                <br/>
                <p style="font-size: 28px;text-align: left;color: blue;text-indent: 2em">&nbsp基本信息</p>
                <p style="text-align: left;text-indent: 4em">
                    <span class="equipmentModifyReminder" style="text-align: left;font-size: 28px">设备类型:</span>
                    <span th:text="${equipmentType.getEqpType()}" th:value="${equipmentType.getEqpType()}"
                          style="text-align: left;font-size: 28px"></span>
                    <input type="hidden" id="eqpTypeShow" name="eqpTypeShow" th:value="${equipmentType.getEqpType()}"/>
                </p>
                <p style="text-align: left;text-indent: 4em;margin-top: 15px">
                    <span class="equipmentModifyReminder" style="text-align: left;font-size: 28px">匹配字符串:</span>
                    <span th:text="${equipmentType.getStringMatch()}" th:value="${equipmentType.getStringMatch()}"
                          style="text-align: left;font-size: 28px"></span>
                    <!--<input type="text" id="stringMatch" name="stringMatch" th:value="${equipmentType.getStringMatch()}"  class="inputStyle2"/>-->
                </p>
                <p style="text-align: left;text-indent: 4em;margin-top: 15px">
                    <span class="equipmentModifyReminder" style="text-align: left;font-size: 28px">指标总数:</span>
                    <span th:text="${equipmentType.getIndexTotal()}" th:value="${equipmentType.getIndexTotal()}"
                          style="text-align: left;font-size: 28px"></span>
                    <!--<input type="text" id="eqpType" name="eqpType" th:value="${equipment.eqpType}"  class="inputStyle2"/>-->
                </p>
                <p style="text-align: left;text-indent: 4em;margin-top: 15px">
                    <span class="equipmentModifyReminder" style="text-align: left;font-size: 28px">警报界限总数:</span>
                    <span th:text="${equipmentType.getAlarmSerialMax()}" th:value="${equipmentType.getAlarmSerialMax()}"
                          style="text-align: left;font-size: 28px"></span>
                    <!--<input type="text" id="eqpType" name="eqpType" th:value="${equipment.eqpType}"  class="inputStyle2"/>-->
                </p>
                <p style="text-align: left;text-indent: 4em;margin-top: 15px">
                    <span class="equipmentModifyReminder" style="text-align: left;font-size: 28px">简介:</span>
                    <!--<span th:text="${equipmentType.getAlarmSerialMax()}" th:value="${equipmentType.getAlarmSerialMax()}" style="text-align: left;font-size: 28px"></span>-->
                    <input type="text" id="introduction" name="introduction"
                           th:value="${equipmentType.getIntroduction()}" class="inputStyle3"/>
                </p>
                </p>
                <input type="submit" id="equipmentModifySubmit" name="equipmentModifySubmit"
                       style="font-size: 18px;height: 50px;width: 60%;background-color: #FFA500;border: none;color: white"
                       value="更新设备简介" onmouseover="submitOnMouseUpEquipmentModify()"
                       onmouseleave="submitOnMouseLeaveEquipmentModify()"/>
            </form>
        </div>

        <div class="d"
             style="min-height:300px;background-color:white;width:950px;border: 1px solid lightgrey;margin: auto;">
            <p style="font-size: 28px;text-align: left;text-indent: 2em;color: blue">&nbsp默认警报界限
            </p>
            <p th:each="alarmValue:${alarmValueList}" style="text-align: left;text-indent: 4em;margin-top: 15px">
                    <span th:value="${alarmValue.valueName}" th:text="${alarmValue.valueName}"
                          style="text-align: left;font-size: 28px"></span><span
                    style="font-size: 28px">:&nbsp&nbsp</span>
                <span id="value" th:value="${alarmValue.value}" th:text="${alarmValue.value}"></span>
                <span id="measurementUnit" th:value="${alarmValue.measurementUnit}"
                      th:text="${alarmValue.measurementUnit}"></span>
            </p>
        </div>
        <div class="d" style="height:60px;background-color:white;width:950px;border: 0px solid lightgrey;margin: auto;">
            <p style="text-align: right;margin-right: 20%">
            <form action="/manageCenter/setEquipmentModifyDefaultValue" accept-charset="utf-8" method="post"
                  style="text-align: right">
                <input type="hidden" id="eqpTypeToModifyAlarm" name="eqpTypeToModifyAlarm"
                       th:value="${equipmentType.eqpType}"/>
                <input type="submit" value="更改默认警报界限"
                       style="align-self: right;font-size: 28px;background-color: #FFA500;border: none;color: white"/>
            </form>
            </p>
        </div>
    </div>
</div>
<!--<div style="margin-top: 80px;margin-bottom: 80px">-->

<!--</div>-->

<iframe frameborder="0" scrolling="no" marginwidth="0" marginheight="0" width="100%"
        th:src="@{/master/footer.html}"></iframe>
</body>
</html>