<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!--<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <title>设置中心-网关设置</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navigationBar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
    <script type="text/javascript" th:src="@{/javascript/elementView.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/tablePage.js}"></script>
    <style>
        table {
            border: 1px solid black;
            width: 60%;
            margin-left: 20%;
            margin-right: 20%;
            line-height: 50px;
            text-align: center;
            border-collapse: collapse;
        / / 边框合成单一的边框
        }

        table tr th {
            border: 1px solid black;
            font-size: 22px;
        }

        table tr td {
            border: 1px solid black;
            font-size: 22px;
        }
    </style>
    <script>
        //全局变量
        var numCount;       //数据总数量
        var columnsCounts;  //数据列数量
        var pageCount;      //每页显示的数量
        var pageNum;        //总页数
        var currPageNum;   //当前页数

        //页面标签变量
        var blockTable;
        var preSpan;
        var firstSpan;
        var nextSpan;
        var lastSpan;
        var pageNumSpan;
        var currPageSpan;

        window.onload = function () {
            //页面标签变量
            blockTable = document.getElementById("blocks");
            preSpan = document.getElementById("spanPre");
            firstSpan = document.getElementById("spanFirst");
            nextSpan = document.getElementById("spanNext");
            lastSpan = document.getElementById("spanLast");
            pageNumSpan = document.getElementById("spanTotalPage");
            currPageSpan = document.getElementById("spanPageNum");

            numCount = document.getElementById("blocks").rows.length - 1;       //取table的行数作为数据总数量（减去标题行1）
            // alert(numCount);
            columnsCounts = blockTable.rows[0].cells.length;
            pageCount = 10;
            pageNum = parseInt(numCount / pageCount);
            if (0 != numCount % pageCount) {
                pageNum += 1;
            }

            firstPage();
        };

        function submitOnMouseUpAdd() {
            var submit = document.getElementById("addSubmit");
            submit.style.backgroundColor = "#EE7700";
        }

        function submitOnMouseLeaveAdd() {
            var submit = document.getElementById("addSubmit");
            submit.style.backgroundColor = "#FFA500";
        }
    </script>
</head>
<body>
<div id="header">
    <a href="/login" style="color: blueviolet;font-size: 30px">人&nbsp体&nbsp健&nbsp康&nbsp监&nbsp测&nbsp平&nbsp台</a>
    <br/>
    <div style="float: left;width: 60%;text-align: left">
        <a href="/login" style="color: blueviolet;font-size: 18px">Human Health Monitoring Platform</a>
    </div>
    <div style="float: left;width: 40%;text-align: right">
        <span style="color: darkgrey;font-size: 18px">您好！管理员<td th:text="${admin.adminId}"></td></span>
        <!--<a href="/manageCenter/userInfoHallGroupData" style="text-align: right">管理中心&nbsp|</a>-->
        <a href="/adminLogout" style="text-align: right;font-size: 18px">退出登录&nbsp|</a>
        <a href="/help" target="_blank" style="text-align: right;font-size: 18px">帮助</a>
    </div>
</div>
<!--<hr width="100%" color="#0080FF" size="2"/>-->
<div class="head-nav">
    <!--<div class="head-nav-con">-->
    <div class="head-nav-con clearFloat">
        <ul>
            <li><a href="/indexAdmin">首&nbsp&nbsp&nbsp&nbsp页</a></li>
            <li class="drop-down"><a href="#">数据中心</a>
                <ul class="drop-down-content">
                    <li><a href="/userInfoHallGroupData">群体数据统计</a></li>
                    <li><a href="/manageCenter/userInfoHallSingleSearch">用户详细数据</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="#">新闻中心</a>
                <ul class="drop-down-content">
                    <li><a href="/manageCenter/newsMngPublish" target="_blank">发布新闻</a></li>
                    <li><a href="/manageCenter/newsMngInfoManage">新闻信息管理</a></li>
                    <li><a href="/manageCenter/newsMainPictureManage">主页图片管理</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="#">设置中心</a>
                <ul class="drop-down-content">
                    <!--<li><a href="/manageCenter/setNetMaskOverview">网关设置</a></li>-->
                    <li><a href="/manageCenter/setEquipmentOverview">设备与默认警报值</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="#">管理员账户</a>
                <ul class="drop-down-content">
                    <!--<li><a href="#">基本信息</a></li>-->
                    <li><a href="/manageCenter/mngAccountPwdModify">密码修改</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div style="width: 100%">
    <h1 style="text-align: center;color: blue;">网关设置</h1>
</div>

<div style="width: 100%;min-height: 80%;">
    <div style="width: 60%;text-align: right;margin-left: 20%;margin-right: 20%;margin-bottom: 20px">
        <form action="/manageCenter/setNetMaskAdd">
            <input type="submit" id="addSubmit" name="addSubmit" value="+添加网关"
                   style="font-size: 22px;height:44px;background-color: #FFA500;border: none;color: white"
                   onmouseover="submitOnMouseUpAdd()" onmouseleave="submitOnMouseLeaveAdd()"/>
        </form>
    </div>

    <table id="blocks">
        <tr>
            <th>网关Id</th>
            <th>网关名称</th>
            <!--<th>网关地址</th>-->
            <th>通信协议</th>
            <th>操作</th>
        </tr>
        <tr th:each="netMask:${netMaskInfoList}">
            <td th:text="${netMask.netmaskId}"></td>
            <td th:text="${netMask.netmaskName}"></td>
            <!--<td th:text="${netMask.ipAddress}"></td>-->
            <td th:text="${netMask.comProtocol}"></td>
            <td>
                <form action="/manageCenter/setNetMaskModify">
                    <input type="hidden" name="netMaskId" th:value="${netMask.netmaskId}"/>
                    <input type="submit" value="修改配置"
                           style="border: 0;background-color: white;color: blue;font-size: 18px"/>
                </form>
            </td>
        </tr>
    </table>
    <div id="pagiDiv" style="text-align: center">
        <!--width:60%;margin-left: 20%;margin-right: 20%;margin-top: 20px;-->
        <span id="spanFirst" style="font-size: 24px">首页</span>&nbsp;&nbsp;
        <span id="spanPre" style="font-size: 24px">上一页</span>&nbsp;&nbsp;
        <span id="spanNext" style="font-size: 24px">下一页</span>&nbsp;&nbsp;
        <span id="spanLast" style="font-size: 24px">尾页</span>&nbsp;&nbsp;
        第&nbsp;<span id="spanPageNum" style="font-size: 24px"></span>&nbsp;页/共&nbsp;<span id="spanTotalPage"
                                                                                          style="font-size: 24px"></span>&nbsp;页
    </div>
</div>

<iframe name="" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" width="100%"
        th:src="@{/master/footer.html}"></iframe>
</body>
</html>