    <!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!--<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <title th:text="${user.userName}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navigationBar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
    <script type="text/javascript" th:src="@{/javascript/elementView.js}"></script>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <!--<script type="text/javascript" th:src="@{/javascript/tablePage.js}"></script>-->

    <script>
        var alarmMessageChart;
        var onlineTimeCountChart;
        var influxCountChart;
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/line', //加载line模块，折线图
                'echarts/chart/bar' // 加载bar模块，柱状图
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                // var myChart = ec.init(document.getElementById('alarmMessage'));
                alarmMessageChart = ec.init(document.getElementById('alarmMessage'));
                var option = {
                    title : {
                        text: '用户所关联监测对象警报短信月度总用量'
                        // subtext: '次标题'
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['警报短信条数']
                        // data:['最高气温','最低气温']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {show: true, type: ['bar','line']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            name : '月份',
                            boundaryGap : false,
                            data : [[${yearMonthList}]]
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            axisLabel : {
                                formatter: '{value} 条'
                            }
                        }
                    ],
                    series : [
                        {
                            name:'警报短信条数',
                            type:'line',
                            // type:'bar',
                            data:[[${alarmMessageCountList}]],
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'min', name: '最小值'}
                                ]
                            },
                            markLine : {
                                data : [
                                    {type : 'average', name: '平均值'}
                                ]
                            }
                        }
                    ]
                };
                // 为echarts对象加载数据
                alarmMessageChart.setOption(option);

                onlineTimeCountChart = ec.init(document.getElementById('onlineTimeCount'));
                var option2 = {
                    title : {
                        text: '用户所关联监测对象月度在线总时长'
                        // subtext: '次标题'
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['在线时长']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {show: true, type: ['bar','line']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            name : '月份',
                            boundaryGap : false,
                            data : [[${yearMonthList}]]
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            axisLabel : {
                                formatter: '{value}分钟'
                            }
                        }
                    ],
                    series : [
                        {
                            name:'在线时长',
                            type:'line',
                            // type:'bar',
                            data:[[${onlineTimeCountList}]],
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'min', name: '最小值'}
                                ]
                            },
                            markLine : {
                                data : [
                                    {type : 'average', name: '平均值'}
                                ]
                            }
                        }
                    ]
                };
                // 为echarts对象加载数据
                onlineTimeCountChart.setOption(option2);


                influxCountChart = ec.init(document.getElementById('influxCount'));
                var option3 = {
                    title : {
                        text: '用户所关联监测对象时序数据月度总用量'
                        // subtext: '次标题'
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['时序数据条数']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {show: true, type: ['bar','line']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            name : '月份',
                            boundaryGap : false,
                            data : [[${yearMonthList}]]
                            // data: ["2018-05", "2018-06", "2018-07", "2018-08", "2018-09", "2018-10", "2018-11", "2018-12", "2019-01", "2019-02", "2019-03", "2019-04"]
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            axisLabel : {
                                formatter: '{value} 条'
                            }
                        }
                    ],
                    series : [
                        {
                            name:'时序数据条数',
                            type:'line',
                            // type:'bar',
                            data:[[${influxCountList}]],
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'min', name: '最小值'}
                                ]
                            },
                            markLine : {
                                data : [
                                    {type : 'average', name: '平均值'}
                                ]
                            }
                        }
                    ]
                };
                // 为echarts对象加载数据
                influxCountChart.setOption(option3);
            }
        );//require end
    </script>
</head>
<body>
<div id="header">
    <a href="/login" style="color: blueviolet;font-size: 30px">人&nbsp体&nbsp健&nbsp康&nbsp监&nbsp测&nbsp平&nbsp台</a>
    <br/>
    <div style="float: left;width: 60%;text-align: left">
        <a href="/login" style="color: blueviolet;font-size: 18px">Human Health Monitoring Platform</a>
    </div>
    <div style="float: left;width: 40%;text-align: right">
        <span style="color: darkgrey;font-size: 18px">您好！管理员<td th:text="${admin.adminId}"></td></span>
        <!--<a href="/manageCenter/userInfoHallGroupData" style="text-align: right">管理中心&nbsp|</a>-->
        <a href="/adminLogout" style="text-align: right;font-size: 18px">退出登录&nbsp|</a>
        <a href="/help" target="_blank" style="text-align: right;font-size: 18px">帮助</a>
    </div>
</div>
<!--<hr width="100%" color="#0080FF" size="2"/>-->
<div class="head-nav">
    <!--<div class="head-nav-con">-->
    <div class="head-nav-con clearFloat">
        <ul>
            <li><a href="/indexAdmin">首&nbsp&nbsp&nbsp&nbsp页</a></li>
            <li class="drop-down"><a href="#">数据中心</a>
                <ul class="drop-down-content">
                    <li><a href="/userInfoHallGroupData">群体数据统计</a></li>
                    <li><a href="/manageCenter/userInfoHallSingleSearch">用户详细数据</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="#">新闻中心</a>
                <ul class="drop-down-content">
                    <li><a href="/manageCenter/newsMngPublish" target="_blank">发布新闻</a></li>
                    <li><a href="/manageCenter/newsMngInfoManage">新闻信息管理</a></li>
                    <li><a href="/manageCenter/newsMainPictureManage">主页图片管理</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="#">设置中心</a>
                <ul class="drop-down-content">
                    <!--<li><a href="/manageCenter/setNetMaskOverview">网关设置</a></li>-->
                    <li><a href="/manageCenter/setEquipmentOverview">设备与默认警报值</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="#">管理员账户</a>
                <ul class="drop-down-content">
                    <!--<li><a href="#">基本信息</a></li>-->
                    <li><a href="/manageCenter/mngAccountPwdModify">密码修改</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div style="width: 100%">
    <h1 style="text-align: center;color: blue;">用户统计数据展示</h1>
</div>

<div style="width: 100%;min-height: 80%">
    <table id="equipmentTable" style="width: 100%">
        <tr>
            <td>
                <div id="alarmMessage" style="height:500px;background-color:white;width:1300px;border: 1px solid lightgrey;margin: auto;">
                    <!--<p style="font-size: 20px;text-align: left;color: blue">警报短信量</p>-->
                    <!--在此绘制实时监测折线图-->
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="onlineTimeCount" style="height:500px;background-color:white;width:1300px;border: 1px solid lightgrey;margin: auto;">
                    <!--<p style="font-size: 20px;text-align: left;color: blue">在线总时长</p>-->
                    <!--在此绘制实时监测折线图-->
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="influxCount" style="height:500px;background-color:white;width:1300px;border: 1px solid lightgrey;margin: auto;">
                    <!--<p style="font-size: 20px;text-align: left;color: blue">时序数据传输量</p>-->
                    <!--在此绘制实时监测折线图-->
                </div>
            </td>
        </tr>
    </table>
</div>

<iframe name="" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" width="100%"
        th:src="@{/master/footer.html}"></iframe>
</body>
</html>
