<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!--<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <title>数据中心-群体数据统计</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navigationBar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
    <script type="text/javascript" th:src="@{/javascript/elementView.js}"></script>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <!--<script th:src="@{/js/charts.js}"></script>-->
    <!--<script src="webjars/echarts/4.0.4/dist/echarts.js"></script>-->
    <script>
        var alarmMessageChart;
        var onlineCountChart;
        var influxCountChart;
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/line', //加载line模块，折线图
                'echarts/chart/bar' // 加载bar模块，柱状图
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                // var myChart = ec.init(document.getElementById('alarmMessage'));
                alarmMessageChart = ec.init(document.getElementById('alarmMessage'));
                var option = {
                    title : {
                        text: '警报短信时间分布'
                        // subtext: '次标题'
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['警报短信条数']
                        // data:['最高气温','最低气温']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {show: true, type: ['bar','line']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            name : '时间范围',
                            boundaryGap : false,
                            data : ['12h前-11h前','11h前-10h前','10h前-9h前','9h前-8h前','8h前-7h前','7h前-6h前',
                                '6h前-5h前','5h前-4h前','4h前-3h前','3h前-2h前','2h前-1h前','1h前-现在']
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            axisLabel : {
                                formatter: '{value} 条'
                            }
                        }
                    ],
                    series : [
                        {
                            name:'警报短信条数',
                            type:'line',
                            // data:[11, 11, 15, 13, 12, 13, 10, 11, 11, 15, 13, 12, 13, 10, 11, 11, 15, 13, 12, 13, 10, 13, 12, 14],
                            data:[[${alarmMessageCountList}]],
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'min', name: '最小值'}
                                ]
                            },
                            markLine : {
                                data : [
                                    {type : 'average', name: '平均值'}
                                ]
                            }
                        }
                    ]
                };
                // 为echarts对象加载数据
                alarmMessageChart.setOption(option);

                onlineCountChart = ec.init(document.getElementById('onlineCount'));
                var option2 = {
                    title : {
                        text: '在线人数'
                        // subtext: '次标题'
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['在线人数']
                        // data:['最高气温','最低气温']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {show: true, type: ['bar','line']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            // name : '距今时间',
                            boundaryGap : false,
                            data : ['100秒前','90秒前','80秒前','70秒前','60秒前',
                                '50秒前','40秒前','30秒前','20秒前','10秒前','现在']
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            axisLabel : {
                                formatter: '{value} 人'
                            }
                        }
                    ],
                    series : [
                        {
                            name:'在线人数',
                            type:'line',
                            // data:[13, 12, 13, 10, 11, 11, 15, 13, 12, 13, 10],
                            data:[[${onlineCountList}]],
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'min', name: '最小值'}
                                ]
                            },
                            markLine : {
                                data : [
                                    {type : 'average', name: '平均值'}
                                ]
                            }
                        }
                    ]
                };
                // 为echarts对象加载数据
                onlineCountChart.setOption(option2);


                influxCountChart = ec.init(document.getElementById('influxCount'));
                var option3 = {
                    title : {
                        text: '时序数据量时间分布'
                        // subtext: '次标题'
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['时序数据条数']
                        // data:['最高气温','最低气温']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {show: true, type: ['bar','line']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            // name : '时间范围',
                            boundaryGap : false,
                            data : ['12h前-11h前','11h前-10h前','10h前-9h前','9h前-8h前','8h前-7h前','7h前-6h前',
                                '6h前-5h前','5h前-4h前','4h前-3h前','3h前-2h前','2h前-1h前','1h前-现在']
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            axisLabel : {
                                formatter: '{value} 条'
                            }
                        }
                    ],
                    series : [
                        {
                            name:'时序数据条数',
                            type:'line',
                            // data:[13, 12, 13, 10, 11, 11, 15, 13, 12, 13, 10,17],
                            data:[[${influxCountList}]],
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'min', name: '最小值'}
                                ]
                            },
                            markLine : {
                                data : [
                                    {type : 'average', name: '平均值'}
                                ]
                            }
                        }
                    ]
                };
                // 为echarts对象加载数据
                influxCountChart.setOption(option3);
            }

        );//require end

        // function DataRefresh() {
        //     // 装载局部刷新返回的页面
        //     $('#groupDataRefresh').load("/userInfoHallGroupData/AutoRefresh");
        // }
        // setInterval('DataRefresh()',5000);//向后台请求最新数据
        // setInterval('alarmMessageRefreshData()',5000);//将最新数据刷新到图中
        // setInterval('onlineCountRefreshData()',5000);//将最新数据刷新到图中
        // setInterval('influxCountRefreshData()',5000);//将最新数据刷新到图中
        function ajaxTest() {
            var url = "/userInfoHallGroupData/AutoRefresh";
            // var alarmMessageCountList = [[${alarmMessageCountList}]];
            // var onlineCountList = [[${onlineCountList}]];
            // var influxCountList = [[${influxCountList}]];
            var option = alarmMessageChart.getOption();
            var option2 = onlineCountChart.getOption();
            var option3 = influxCountChart.getOption();
            var alarmMessageCountList = option.series[0].data;
            var onlineCountList = option2.series[0].data;
            var influxCountList = option3.series[0].data;
            var array = new Array();
            array[0] = alarmMessageCountList;
            array[1] = onlineCountList;
            array[2] = influxCountList;
            $.ajax({
                url: url,
                type: 'POST',
                cache: 'false',
                data: JSON.stringify(array),
                dataType: 'json',
                headers : {
                    'Content-Type': 'application/json'
                    // 'Content-Type': 'application/json;charset=utf-8'
                    // contentType : 'application/x-www-form-urlencoded;charset=UTF-8'
                },
                success: function (data) {
                    // console.log(result);
                    var alarmMessageCountList= data.alarmMessageCountList;
                    // [[${alarmMessageCountList}]] = data.alarmMessageCountList;
                    var onlineCountList = data.onlineCountList;
                    var influxCountList = data.influxCountList;
                    option.series[0].data = alarmMessageCountList;
                    alarmMessageChart.setOption(option);
                    option2.series[0].data = onlineCountList;
                    onlineCountChart.setOption(option2);
                    option3.series[0].data = influxCountList;
                    influxCountChart.setOption(option3);
                },
                error: function(data){
                    // alert("操作异常");
                }
            });
        }//end function
        setInterval('ajaxTest()',10000);//向后台请求最新数据
    </script>
</head>
<body>
<div id="header">
    <a href="/login" style="color: blueviolet;font-size: 30px">人&nbsp体&nbsp健&nbsp康&nbsp监&nbsp测&nbsp平&nbsp台</a>
    <br/>
    <div style="float: left;width: 60%;text-align: left">
        <a href="/login" style="color: blueviolet;font-size: 18px">Human Health Monitoring Platform</a>
    </div>
    <div style="float: left;width: 40%;text-align: right">
        <span style="color: darkgrey;font-size: 18px">您好！管理员<td th:text="${admin.adminId}"></td></span>
        <!--<a href="/manageCenter/userInfoHallGroupData" style="text-align: right">管理中心&nbsp|</a>-->
        <a href="/adminLogout" style="text-align: right;font-size: 18px">退出登录&nbsp|</a>
        <a href="/help" target="_blank" style="text-align: right;font-size: 18px">帮助</a>
    </div>
</div>
<!--<hr width="100%" color="#0080FF" size="2"/>-->
<div class="head-nav">
    <!--<div class="head-nav-con">-->
    <div class="head-nav-con clearFloat">
        <ul>
            <li><a href="/indexAdmin">首&nbsp&nbsp&nbsp&nbsp页</a></li>
            <li class="drop-down"><a href="#">数据中心</a>
                <ul class="drop-down-content">
                    <li><a href="/userInfoHallGroupData">群体数据统计</a></li>
                    <li><a href="/manageCenter/userInfoHallSingleSearch">用户详细数据</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="#">新闻中心</a>
                <ul class="drop-down-content">
                    <li><a href="/manageCenter/newsMngPublish" target="_blank">发布新闻</a></li>
                    <li><a href="/manageCenter/newsMngInfoManage">新闻信息管理</a></li>
                    <li><a href="/manageCenter/newsMainPictureManage">主页图片管理</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="#">设置中心</a>
                <ul class="drop-down-content">
                    <!--<li><a href="/manageCenter/setNetMaskOverview">网关设置</a></li>-->
                    <li><a href="/manageCenter/setEquipmentOverview">设备与默认警报值</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="#">管理员账户</a>
                <ul class="drop-down-content">
                    <!--<li><a href="#">基本信息</a></li>-->
                    <li><a href="/manageCenter/mngAccountPwdModify">密码修改</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div style="width: 100%">
    <h1 style="text-align: center;color: blue;">平台数据统计展示</h1>
</div>
<div style="width: 100%;min-height: 80%">
    <table id="equipmentTable" style="width: 100%">
        <tr>
            <td>
                <div id="alarmMessage" th:fragment="alarmMessage"
                     style="height:500px;background-color:white;width: 1300px;border: 1px solid lightgrey;margin: auto;">
                    <!--折线图画布-->
                </div>

            </td>
        </tr>
        <tr>
            <td>
                <div id="onlineCount" style="height:500px;background-color:white;width:1300px;border: 1px solid lightgrey;margin: auto;">
                    <!--<p style="font-size: 20px;text-align: left;color: blue">实时在线人数</p>-->
                    <!--实时在线人数画布-->
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="influxCount" style="height:500px;background-color:white;width:1300px;border: 1px solid lightgrey;margin: auto;">
                    <!--<p style="font-size: 20px;text-align: left;color: blue">时序数据传输量</p>-->
                    <!--时序数据量画布-->
                </div>
            </td>
        </tr>
    </table>
</div>

<iframe name="" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" width="100%"
        th:src="@{/master/footer.html}"></iframe>
</body>

</html>