<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>HumanHealthMonitor - 管理设备</title>
    <!-- Custom fonts for this template-->
    <link href="../../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../../../static/css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        input.inputStyle2 {
            font-size: 18px;
            height: 36px;
            width: 40%;
            text-indent: 0.5em;
        }

        table {
            border: none;
            line-height: 35px;
            text-align: center;
            border-collapse: collapse;
            /*边框合成单一的边框*/
        }

        table tr th {
            border: none;
            font-size: 22px;
        }

        table tr td {
            border: 1px solid black;
            font-size: 22px;
            min-width: 350px;
        }
    </style>
    <script>
        //全局变量
        var numCount;       //数据总数量
        var columnsCounts;  //数据列数量
        var pageCount;      //每页显示的数量
        var pageNum;        //总页数
        var currPageNum;   //当前页数
        //页面标签变量
        var blockTable;
        var preSpan;
        var firstSpan;
        var nextSpan;
        var lastSpan;
        var pageNumSpan;
        var currPageSpan;
        window.onload = function () {
            //页面标签变量
            blockTable = document.getElementById("blocks");
            preSpan = document.getElementById("spanPre");
            firstSpan = document.getElementById("spanFirst");
            nextSpan = document.getElementById("spanNext");
            lastSpan = document.getElementById("spanLast");
            pageNumSpan = document.getElementById("spanTotalPage");
            currPageSpan = document.getElementById("spanPageNum");
            numCount = document.getElementById("blocks").rows.length - 1;       //取table的行数作为数据总数量（减去标题行1）
            // alert(numCount);
            columnsCounts = blockTable.rows[0].cells.length;
            pageCount = 8;
            pageNum = parseInt(numCount / pageCount);
            if (0 != numCount % pageCount) {
                pageNum += 1;
            }
            firstPage();
        };

        function checkEquipmentModify() {
            var form = document.getElementById("equipmentModifyForm");
            if (form.eqpName.value == "") {
                alert("设备名称不能为空");
                window.event.returnValue = false;//验证失败不提交action
            } else if (form.eqpName.value.length > 32) {
                alert("设备名称不能超过32个字符");
                window.event.returnValue = false;//验证失败不提交action
            } else if (!/^[a-zA-Z0-9_\u4e00-\u9fa5]+$/.test(form.eqpName.value)) {
                alert("设备名称只能由汉字、字母、数字和下划线组成");
                window.event.returnValue = false;//验证失败不提交action
            }
        }

        function submitOnMouseUpEquipmentModify() {
            var modifySubmit = document.getElementById("equipmentModifySubmit");
            modifySubmit.style.backgroundColor = "#EE7700";
        }

        function submitOnMouseLeaveEquipmentModify() {
            var modifySubmit = document.getElementById("equipmentModifySubmit");
            modifySubmit.style.backgroundColor = "#FFA500";
        }

        function submitOnMouseUpEqpIdToModify() {
            var modifySubmit = document.getElementById("eqpIdToModifySubmit");
            modifySubmit.style.backgroundColor = "#EE7700";
        }

        function submitOnMouseLeaveEqpIdToModify() {
            var modifySubmit = document.getElementById("eqpIdToModifySubmit");
            modifySubmit.style.backgroundColor = "#FFA500";
        }

        function submitOnMouseUpEqpIdToModifyAlarm() {
            var modifySubmit = document.getElementById("eqpIdToModifyAlarmSubmit");
            modifySubmit.style.backgroundColor = "#EE7700";
        }

        function submitOnMouseLeaveEqpIdToModifyAlarm() {
            var modifySubmit = document.getElementById("eqpIdToModifyAlarmSubmit");
            modifySubmit.style.backgroundColor = "#FFA500";
        }
    </script>


</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        style="font-family: 'Microsoft JhengHei Light'" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">HumanHealth</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="hhm-index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>小贴士</span></a>
        </li>
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseMonitor" aria-expanded="true"
               aria-controls="collapseTwo">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>监测信息</span></a>
            <div id="collapseMonitor" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="hhm-monitorinfo.html">实时数据</a>
                    <a class="collapse-item" href="hhm-monitorhistory.html">历史数据</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            MANAGEMENT
        </div>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
               aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>监测设备</span>
            </a>
            <!--class: show展开-->
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="hhm-adddevice.html">添加设备</a>
                    <a class="collapse-item" href="hhm-managedevice.html">设备信息管理</a>
                </div>
            </div>
        </li>
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>监测对象</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="hhm-addobject.html">添加监测对象</a>
                    <a class="collapse-item" href="hhm-manageobject.html">监测对象管理</a>
                </div>
            </div>
        </li>
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNetmask"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>网关管理</span>
            </a>
            <div id="collapseNetmask" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="hhm-addnetmask.html">添加网关</a>
                    <a class="collapse-item" href="hhm-managenetmask.html">网关管理</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            USER
        </div>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>账户管理</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="hhm-login.html">基本信息</a>
                    <a class="collapse-item" href="hhm-register.html">密码修改</a>
                    <a class="collapse-item" href="hhm-login.html">退出登录</a>
                </div>
            </div>
        </li>
        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="hhm-others.html">
                <i class="fas fa-fw fa-table"></i>
                <span>其它</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 12, 2019</div>
                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 7, 2019</div>
                                    $290.29 has been deposited into your account!
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 2, 2019</div>
                                    Spending Alert: We've noticed unusually high spending for your account.
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">7</span>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">
                                Message Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60"
                                         alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                        problem I've been having.
                                    </div>
                                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60"
                                         alt="">
                                    <div class="status-indicator"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">I have the photos that you ordered last month, how would
                                        you like them sent to you?
                                    </div>
                                    <div class="small text-gray-500">Jae Chun · 1d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60"
                                         alt="">
                                    <div class="status-indicator bg-warning"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Last month's report looks great, I am very happy with the
                                        progress so far, keep up the good work!
                                    </div>
                                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                         alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told
                                        me that people say this to all dogs, even if they aren't good...
                                    </div>
                                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"></h1>
                </div>
                <div class="row">
                    <div class="col-lg-0">
                    </div>
                    <div class="col-lg-6">
                        <div style="width: 27%;float: left;padding-left: 3%">
                            <!--<h2 style="text-align: left">点击选择监测对象：</h2>-->
                            <table id="blocks">
                                <tr style="text-align: left">
                                    <th>
                                        <p align="left" style="font-size: 20px;border: 0;color: blue">设备列表</p>
                                    </th>
                                </tr>
                                <tr th:each="equipment:${equipmentList}">
                                    <td>
                                        <form id="equipmentForm" action="/monitorCenter/equipmentInfoManageSelect"
                                              name="equipmentForm"
                                              accept-charset="utf-8" method="post"
                                              style="text-align:center">
                                            <input type="hidden" id="eqpId" name="eqpId" th:value="${equipment.eqpId}"
                                                   readonly="true"/>
                                            <!--<p align="left">-->
                                            <input type="submit" id="eqpName1" name="eqpName1"
                                                   class="inputSubmitOnLeave"
                                                   th:value="${equipment.eqpName}"
                                                   style="font-size: 23px;background-color: white;border: none;color: blue"/>
                                            <!--</p>-->
                                        </form>
                                    </td>
                                </tr>
                            </table>
                            <div id="pagiDiv"
                                 style="text-align: left;font-size: 16px;margin-top: 20px;margin-left: 10px">
                                <!--width:60%;margin-left: 20%;margin-right: 20%;margin-top: 20px;-->
                                <span id="spanFirst" style="font-size: 16px">首页</span>&nbsp;&nbsp;
                                <span id="spanPre" style="font-size: 16px">上一页</span>&nbsp;&nbsp;
                                <span id="spanNext" style="font-size: 16px">下一页</span>&nbsp;&nbsp;
                                <span id="spanLast" style="font-size: 16px">尾页</span>&nbsp;&nbsp;
                                第&nbsp;<span id="spanPageNum" style="font-size: 16px"></span>&nbsp;页/共&nbsp;<span
                                    id="spanTotalPage"
                                    style="font-size: 16px"></span>&nbsp;页
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div style="width: 100%;min-height: 80%">

                            <div style="width: 67%;float: left;margin-right: 3%">
                                <!--<p align="center" th:text="${equipment.}" style="color: black;font-size: 20px;border: 0px;text-align: center"></p>-->

                                <!--margin:auto;margin-top:15%-->
                                <div class="d"
                                     style="height:400px;background-color:white;width:950px;border: 0 solid lightgrey;margin-left: 20px;">
                                    <form id="equipmentModifyForm" name="equipmentModifyForm"
                                          action="/monitorCenter/equipmentInfoModify"
                                          accept-charset="utf-8" method="post"
                                          style="text-align:center;" onsubmit="checkEquipmentModify()">
                                        <br/>
                                        <p style="font-size: 28px;text-align: left;color: blue;text-indent: 2em">
                                            &nbsp基本信息</p>
                                        <p style="text-align: left;text-indent: 4em">
                                            <span class="equipmentModifyReminder"
                                                  style="text-align: left;font-size: 28px">设备号:</span>
                                            <span th:text="${equipment.eqpId}" th:value="${equipment.eqpId}"
                                                  style="text-align: left;font-size: 28px"></span>
                                            <input type="hidden" id="eqpIdShow" name="eqpIdShow"
                                                   th:value="${equipment.eqpId}"/>
                                        </p>
                                        <p style="text-align: left;text-indent: 4em;margin-top: 15px">
                                            <nobr>
                                                <span class="equipmentModifyReminder"
                                                      style="text-align: left;font-size: 28px">设备名称:</span>
                                                <input type="text" id="eqpName2" name="eqpName2"
                                                       th:value="${equipment.eqpName}"
                                                       class="inputStyle2"
                                                       onfocus="this.ready()" onmouseout="this.blur()"/>
                                                <input type="submit" id="equipmentModifySubmit"
                                                       name="equipmentModifySubmit"
                                                       style="font-size: 18px;height: 40px;width: 60px;background-color: #FFA500;border: none;color: white;margin-left: 30px"
                                                       value="保 存" onmouseover="submitOnMouseUpEquipmentModify()"
                                                       onmouseleave="submitOnMouseLeaveEquipmentModify()"/>
                                            </nobr>
                                        </p>
                                        <p style="text-align: left;text-indent: 4em;margin-top: 15px">
                                            <span class="equipmentModifyReminder"
                                                  style="text-align: left;font-size: 28px">设备类型:</span>
                                            <span th:text="${equipment.eqpType}" th:value="${equipment.eqpType}"
                                                  style="text-align: left;font-size: 28px"></span>
                                            <!--<input type="text" id="eqpType" name="eqpType" th:value="${equipment.eqpType}"  class="inputStyle2"/>-->
                                        </p>
                                        <p style="text-align: left;text-indent: 4em;margin-top: 15px">
                                            <span class="equipmentModifyReminder"
                                                  style="text-align: left;font-size: 28px">注册日期:</span>
                                            <span th:value="${equipment.registerDate}"
                                                  th:text="${equipment.registerDate}"
                                                  style="text-align: left;font-size: 28px"></span>
                                        </p>
                                        <p style="text-align: left;text-indent: 4em;margin-top: 15px">
                                            <span class="equipmentModifyReminder"
                                                  style="text-align: left;font-size: 28px">绑定对象:</span>
                                            <span th:value="${equipment.objectId}" th:text="${equipment.objectId}"
                                                  style="text-align: left;font-size: 28px"></span>
                                            <input type="hidden" id="eqpIdToModify" name="eqpIdToModify"
                                                   th:value="${equipment.eqpId}"/>
                                            <input type="submit" id="eqpIdToModifySubmit" value="更 改"
                                                   formaction="/monitorCenter/modifyBanding"
                                                   onmouseover="submitOnMouseUpEqpIdToModify()"
                                                   onmouseleave="submitOnMouseLeaveEqpIdToModify()"
                                                   style="align-self: right;font-size: 18px;height:40px;width:60px;background-color: #FFA500;border: none;color: white;margin-left: 30px"/>
                                        </p>
                                    </form>
                                </div>
                                <div class="d"
                                     style="min-height:300px;background-color:white;width:950px;border: 0 solid lightgrey;margin-left: 20px;margin-top: 30px">
                                    <nobr><span style="font-size: 28px;text-align: left;margin-left:56px;color: blue">&nbsp警报界限信息</span>
                                        <form action="/monitorCenter/modifyAlarmValue" accept-charset="utf-8"
                                              method="post"
                                              style="margin: 0;display: inline">
                                            <input type="hidden" id="eqpIdToModifyAlarm" name="eqpIdToModifyAlarm"
                                                   th:value="${equipment.eqpId}"/>
                                            <input type="submit" id="eqpIdToModifyAlarmSubmit" value="更 改"
                                                   onmouseover="submitOnMouseUpEqpIdToModifyAlarm()"
                                                   onmouseleave="submitOnMouseLeaveEqpIdToModifyAlarm()"
                                                   style="font-size: 18px;background-color: #FFA500;border: none;color: white;height: 40px;margin-left: 30px"/>
                                        </form>
                                    </nobr>
                                    <p th:each="alarmValue:${alarmValueList}"
                                       style="text-align: left;text-indent: 4em;margin-top: 15px">
                                        <span th:value="${alarmValue.valueName}" th:text="${alarmValue.valueName}"
                                              style="text-align: left;font-size: 28px"></span><span
                                            style="font-size: 28px">:&nbsp&nbsp</span>
                                        <span id="value" th:value="${alarmValue.value}"
                                              th:text="${alarmValue.value}"></span>
                                        <span id="measurementUnit" th:value="${alarmValue.measurementUnit}"
                                              th:text="${alarmValue.measurementUnit}"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-0">
                    </div>
                </div>
            </div>
        </div>
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © 2019 哈尔滨工业大学（威海）计算机科学与技术学院  嵌入式研发中心</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="hhm-login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="../../../static/vendor/jquery/jquery.min.js"></script>
<script src="../../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="../../../static/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="../../../static/js/sb-admin-2.min.js"></script>
</body>
</html>
