<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>人体健康监测平台-主页(监测对象)</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navigationBar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
    <!--<script type="text/javascript" th:src="@{/javascript/elementView.js}"></script>-->
    <script>
        var curIndex = 0;
        //时间间隔(单位毫秒)，每3秒钟显示一张
        var timeInterval = 3000;
        var arr = new Array();
        arr[0] = '[[${mainPicList.get(0).getPicUrl()}]]';
        arr[1] = '[[${mainPicList.get(1).getPicUrl()}]]';
        arr[2] = '[[${mainPicList.get(2).getPicUrl()}]]';
        var arr2 = new Array();
        arr2[0] = '[[${mainPicList.get(0).getNewsId()}]]';
        arr2[1] = '[[${mainPicList.get(1).getNewsId()}]]';
        arr2[2] = '[[${mainPicList.get(2).getNewsId()}]]';
        // arr[0]="http://img17.3lian.com/d/file/201702/14/3d1d78481dbe5db4802f4b1eb548f365.jpg";
        // arr[1]="http://img.pconline.com.cn/images/upload/upc/tx/itbbs/1608/16/c5/25611861_1471306140723_mthumb.jpg";
        // arr[2]="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1551030493075&di=5f5ebd3ddd0ec01e28291daa2f60068f&imgtype=0&src=http%3A%2F%2Fimg18.3lian.com%2Fd%2Ffile%2F201710%2F24%2F4cc802c11c2fa1d64c6a89afc3cb9819.jpg";
        // arr[0]="images/1.jpg";
        // arr[1]="images/2.jpg";
        // arr[2]="images/3.jpg";
        setInterval(changeImg, timeInterval);

        function changeImg() {
            var obj = document.getElementById("mainPic");
            var obj2 = document.getElementById("mainPicNewsId");
            if (curIndex === arr.length - 1) {
                curIndex = 0;
            }
            else {
                curIndex += 1;
            }
            obj.src = arr[curIndex];
            obj2.value = arr2[curIndex];
        }

        function fontBold1() {
            // var more = document.getElementsByClassName("moreClass");
            var more = document.getElementById("moreClass1");
            more.style.fontWeight = "bold";
        }

        function fontNormal1() {
            // var more = document.getElementsByClassName("moreClass");
            var more = document.getElementById("moreClass1");
            more.style.fontWeight = "normal";
        }

        function fontBold2() {
            // var more = document.getElementsByClassName("moreClass");
            var more = document.getElementById("moreClass2");
            more.style.fontWeight = "bold";
        }

        function fontNormal2() {
            // var more = document.getElementsByClassName("moreClass");
            var more = document.getElementById("moreClass2");
            more.style.fontWeight = "normal";
        }

        function fontBold3() {
            // var more = document.getElementsByClassName("moreClass");
            var more = document.getElementById("moreClass3");
            more.style.fontWeight = "bold";
        }

        function fontNormal3() {
            // var more = document.getElementsByClassName("moreClass");
            var more = document.getElementById("moreClass3");
            more.style.fontWeight = "normal";
        }
    </script>
</head>

<body>
<div id="header">
    <a href="/login" style="color: blueviolet;font-size: 30px">人&nbsp体&nbsp健&nbsp康&nbsp监&nbsp测&nbsp平&nbsp台</a>
    <br/>
    <div style="float: left;width: 60%;text-align: left">
        <a href="/login" style="color: blueviolet;font-size: 18px">Human Health Monitoring Platform</a>
    </div>
    <div style="float: left;width: 40%;text-align: right">
        <span style="color: darkgrey;font-size: 18px">您好！<td th:text="${object.objectName}"></td></span>
        <!--<a href="/healthCenter/objInfoHallOnTime" style="text-align: right">健康中心&nbsp|</a>-->
        <a href="/objectLogout" style="text-align: right;font-size: 18px">退出登录&nbsp|</a>
        <a href="/help" target="_blank" style="text-align: right;font-size: 18px">帮助</a>
    </div>
</div>
<!--<hr width="100%" color="#0080FF" size="2"/>-->

<div class="head-nav">
    <!--<div class="head-nav-con clearFloat">-->
    <div class="head-nav-con">
        <ul>
            <li><a href="/indexObject">首&nbsp&nbsp&nbsp&nbsp页</a></li>
            <li><a href="/objInfoHallOnTime">实时监测信息</a></li>
            <li><a href="/objInfoHallHistory">历史监测信息</a></li>
            <li><a href="/healthCenter/objAccountBasicInfo">基本信息管理</a></li>
            <li><a href="/healthCenter/objAccountPwdModify">密码服务</a></li>
        </ul>
    </div>
</div>

<div id="picDiv">
    <form id="picForm" name="picForm" action="/healthCenter/newsPageObjectMainPic">
        <input type="image" id="mainPic" name="mainPic" th:src="${mainPicList.get(0).getPicUrl()}"
               onclick="document.picForm.submit()"
               style="margin-top: 0;margin-bottom: 10px;width: 100%;height: 800px"/>
        <input type="hidden" id="mainPicNewsId" name="mainPicNewsId" th:value="${mainPicList.get(0).getNewsId()}"/>
    </form>
    <!--<img id="mainPic"  style="margin-top: 0;margin-bottom: 10px;width: 100%;height: 800px" th:src ="${mainPicList.get(0).getPicUrl()}">-->
    <!--<img id="mainPic"  style="margin-top: 0;margin-bottom: 10px;width: 100%;height: 800px" src ="/static/images/1.jpg">-->
    <!--<img id="mainPic"  style="margin-top: 0;margin-bottom: 10px;width: 100%;height: 800px" src ="images/1.jpg">-->
</div>

<div id="newsCenter" style="width: 100%;margin-top: 50px">
    <div id="newest" style="width: 29%;float: left;margin-left: 8%">
        <nobr>
            <span style="font-size: xx-large;font-weight: bold;margin-left: 8px">最新消息</span>
            <!--<a id="moreClass1" class="moreClass" href="#" style="font-size: x-large;color: blue" onmouseover="fontBold1()"  onmouseleave="fontNormal1()">更多>></a>-->
            <form action="/healthCenter/newsSelectedKindObject" style="margin:0;display: inline">
                <input type="hidden" name="newsType" value="最新消息"/>
                <input id="moreClass1" type="submit" value="更多>>"
                       style="border: 0;background-color: white;color: blue;font-size: x-large"
                       onmouseover="fontBold1()" onmouseleave="fontNormal1()"/>
            </form>
        </nobr>
        <table>
            <tr th:each="latestNews:${latestNewsList}">
                <td>
                    <form action="/healthCenter/newsPageObject">
                        <input type="hidden" name="newsId" th:value="${latestNews.getNewsId()}"/>
                        <input type="submit" th:value="${latestNews.getNewsHead()}"
                               style="border: 0;background-color: white;color: blue;font-size: x-large"/>
                    </form>
                </td>
            </tr>
        </table>
        <br><br><br><br>
    </div>
    <div id="health" style="width: 29%;float: left">
        <nobr>
            <span style="font-size: xx-large;font-weight: bold;margin-left: 8px">健康阅读</span>
            <form action="/healthCenter/newsSelectedKindObject" style="margin:0;display: inline">
                <input type="hidden" name="newsType" value="健康阅读"/>
                <input id="moreClass2" type="submit" value="更多>>"
                       style="border: 0;background-color: white;color: blue;font-size: x-large"
                       onmouseover="fontBold2()" onmouseleave="fontNormal2()"/>
            </form>
            <!--<a id="moreClass2" class="moreClass" href="#" style="font-size: x-large;color: blue" onmouseover="fontBold2()"  onmouseleave="fontNormal2()">更多>></a>-->
        </nobr>
        <table>
            <tr th:each="healthNews:${healthNewsList}">
                <td>
                    <form action="/healthCenter/newsPageObject">
                        <input type="hidden" name="newsId" th:value="${healthNews.getNewsId()}"/>
                        <input type="submit" th:value="${healthNews.getNewsHead()}"
                               style="border: 0;background-color: white;color: blue;font-size: x-large"/>
                    </form>
                </td>
            </tr>
        </table>
        <br><br><br><br>
    </div>
    <div id="hot" style="width: 29%;float: left;margin-right: 5%">
        <nobr>
            <span style="font-size: xx-large;font-weight: bold;margin-left: 8px">热点新闻</span>
            <form action="/healthCenter/newsSelectedKindObject" style="margin:0;display: inline">
                <input type="hidden" name="newsType" value="热点新闻"/>
                <input id="moreClass3" type="submit" value="更多>>"
                       style="border: 0;background-color: white;color: blue;font-size: x-large"
                       onmouseover="fontBold3()" onmouseleave="fontNormal3()"/>
            </form>
        </nobr>
        <table>
            <tr th:each="hotPointNews:${hotPointNewsList}">
                <td>
                    <form action="/healthCenter/newsPageObject">
                        <input type="hidden" name="newsId" th:value="${hotPointNews.getNewsId()}"/>
                        <input type="submit" th:value="${hotPointNews.getNewsHead()}"
                               style="border: 0;background-color: white;color: blue;font-size: x-large"/>
                    </form>
                </td>
            </tr>
        </table>
        <br><br><br><br>
    </div>
</div>
<iframe name="" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" width="100%"
        th:src="@{/master/footer.html}"></iframe>

</body>
</html>