<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>人体健康监测平台-登录</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
    <script type="text/javascript" th:src="@{/javascript/elementView.js}"></script>
    <style>
        #wrapper {
            min-height: 100%;
            position: relative;
        }

        #footerFrame {
            bottom: 0;
            position: absolute;
            width: 100%;
        }

        #centralDiv {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
<div id="wrapper">
    <div id="header">
        <a href="/login" style="color: blueviolet;font-size: 30px">人&nbsp体&nbsp健&nbsp康&nbsp监&nbsp测&nbsp平&nbsp台</a>
        <br/>
        <div style="float: left;width: 80%;text-align: left">
            <a href="/login" style="color: blueviolet;font-size: 18px">Human Health Monitoring Platform</a>
        </div>
        <div style="float: left;width: 20%;text-align: right">
            <a href="/register" style="text-align: right;font-size: 18px">注册&nbsp|</a>
            <a href="/help" target="_blank" style="text-align: right;font-size: 18px">帮助</a>
        </div>
    </div>
    <hr width="100%" color="#0080FF" size="2"/>
    <!--<br/>-->

    <div id="centralDiv">
        <form id="loginForm" name="loginFrom" action="/loginSubmit" accept-charset="utf-8" method="post"
              style="text-align:center;">
            <!--margin:auto;margin-top:15%-->
            <div class="d" style="height:350px;background-color:white;width:400px;
        border: 1px solid lightgrey;margin: auto;">
                <br/>
                <p style="font-size: 28px;text-align: left">&nbsp&nbsp&nbsp&nbsp登录到您的账户
                </p>
                <p>
                    <!--<label for="userId" style="font-size: 26px;">账号:</label>-->
                    <input type="text" id="userId" name="userId" placeholder="在此输入账号" class="inputStyle1"/>
                </p>
                <p>
                    <!--<label for="password" style="font-size: 26px">密码:</label>-->
                    <input type="password" id="password" name="password" placeholder="在此输入密码" class="inputStyle1"/>
                </p>
                <input type="submit" id="loginSubmit" name="loginSubmit"
                       style="font-size: 18px;height: 50px;width: 83%;background-color: #FFA500;border: none;color: white"
                       value="登    录" onmouseover="submitOnMouseUpL()" onmouseleave="submitOnMouseLeaveL()"/>
                <p style="text-align: right">
                    <a href="/register">立即注册&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                </p>
            </div>
        </form>
    </div>

    <iframe id="footerFrame" frameborder="0" scrolling="no" marginwidth="0" marginheight="0"
            th:src="@{/master/footer.html}"></iframe>

</div>
</body>
</html>