<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--<meta charset="UTF-8">-->
    <title>人体健康监测平台-注册</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
    <script type="text/javascript" th:src="@{/javascript/elementView.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/checkInput.js}"></script>
    <style>
        .registerReminder {
            font-size: 18px;
            text-indent: 3em;
            text-align: left;
        }
    </style>
</head>

<body>
<div id="header">
    <a href="/login" style="color: blueviolet;font-size: 30px">人&nbsp体&nbsp健&nbsp康&nbsp监&nbsp测&nbsp平&nbsp台</a>
    <br/>
    <div style="float: left;width: 80%;text-align: left">
        <a href="/login" style="color: blueviolet;font-size: 18px">Human Health Monitoring Platform</a>
    </div>
    <div style="float: left;width: 20%;text-align: right">
        <a href="/login" style="text-align: right;font-size: 18px">登录&nbsp|</a>
        <a href="/help" target="_blank" style="text-align: right;font-size: 18px">帮助</a>
    </div>
</div>
<hr width="100%" color="#0080FF" size="2"/>
<!--<br/>-->

<div style="margin-top: 80px;margin-bottom: 80px">
    <form id="loginForm" name="loginFrom" action="/registerSubmit" accept-charset="utf-8" method="post"
          style="text-align:center;" onsubmit="checkForm()">
        <!--margin:auto;margin-top:15%-->
        <div class="d" style="height:950px;background-color:white;width:600px;
        border: 1px solid lightgrey;margin: auto;">
            <br/>
            <p style="font-size: 28px;text-align: left;text-indent: 2em">注册新的账户
            </p>
            <p>
            <p class="registerReminder">账号</p>
            <input type="text" id="userId" name="userId" value="" placeholder="账号只能由字母、数字和下划线组成" class="inputStyle1"/>
            </p>
            <p>
            <p class="registerReminder">用户昵称</p>
            <input type="text" id="userName" name="userName" value="" placeholder="用户昵称只能由汉字、字母、数字和下划线组成"
                   class="inputStyle1"/>
            </p>
            <p>
            <p class="registerReminder">密码</p>
            <input type="password" id="password1" name="password1" value="" placeholder="密码只能由字母、数字和下划线组成，至少8个字符"
                   class="inputStyle1"/>
            </p>
            <p>
                <!--<label for="password" style="font-size: 26px">密码:</label>-->
            <p class="registerReminder">再次输入密码</p>
            <input type="password" id="password2" name="password2" value="" placeholder="再次输入密码以确认"
                   class="inputStyle1"/>
            </p>
            <p>
            <p class="registerReminder">手机号码</p>
            <input type="text" id="telephone" name="telephone" value="" placeholder="请输入有效的手机号码" class="inputStyle1"/>
            </p>
            <p>
            <p class="registerReminder">出生日期</p>
            <input type="date" id="birthday" name="birthday" value="" class="inputStyle1"/>
            </p>
            <p>
            <p class="registerReminder">性别</p>
            <select id="sex" name="sex" style="font-size: 18px;height: 36px;width: 83%;text-indent: 0.5em;">
                <option value="男" selected="selected">男</option>
                <option value="女">女</option>
            </select>
            </p>

            <input type="submit" id="registerSubmit" name="registerSubmit"
                   style="font-size: 18px;height: 50px;width: 83%;background-color: #FFA500;border: none;color: white"
                   value="注    册" onmouseover="submitOnMouseUpR()" onmouseleave="submitOnMouseLeaveR()"/>
            <p style="text-align: right">
                已有账号-><a href="/login">立即登录&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
            </p>
        </div>
    </form>
</div>

<iframe name="" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" width="100%"
        th:src="@{/master/footer.html}"></iframe>

</body>
</html>