<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!--<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <title>设备信息管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navigationBar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
    <script type="text/javascript" th:src="@{/javascript/elementView.js}"></script>
    <!--<script src="webjars/jquery/3.1.1/jquery.min.js"></script>-->
    <script src="webjars/jquery/3.1.1/jquery.js"></script>
    <script type="text/javascript" th:src="@{/javascript/tablePage.js}"></script>
    <style>
        input.inputStyle2 {
            font-size: 18px;
            height: 36px;
            width: 40%;
            text-indent: 0.5em;
        }

        table {
            /*border: 1px solid black;*/
            border: none;
            /*width: 60%;*/
            /*margin-left: 20%;*/
            /*margin-right: 20%;*/
            line-height: 35px;
            text-align: center;
            border-collapse: collapse;
        / / 边框合成单一的边框
        }

        table tr th {
            /*border: 1px solid black;*/
            border: none;
            font-size: 22px;
        }

        table tr td {
            border: 1px solid black;
            font-size: 22px;
            /*width: 83%;*/
            min-width: 350px;
        }
    </style>
    <script>
        //全局变量
        var numCount;       //数据总数量
        var columnsCounts;  //数据列数量
        var pageCount;      //每页显示的数量
        var pageNum;        //总页数
        var currPageNum;   //当前页数

        //页面标签变量
        var blockTable;
        var preSpan;
        var firstSpan;
        var nextSpan;
        var lastSpan;
        var pageNumSpan;
        var currPageSpan;

        window.onload = function () {
            //页面标签变量
            blockTable = document.getElementById("blocks");
            preSpan = document.getElementById("spanPre");
            firstSpan = document.getElementById("spanFirst");
            nextSpan = document.getElementById("spanNext");
            lastSpan = document.getElementById("spanLast");
            pageNumSpan = document.getElementById("spanTotalPage");
            currPageSpan = document.getElementById("spanPageNum");

            numCount = document.getElementById("blocks").rows.length - 1;       //取table的行数作为数据总数量（减去标题行1）
            // alert(numCount);
            columnsCounts = blockTable.rows[0].cells.length;
            pageCount = 8;
            pageNum = parseInt(numCount / pageCount);
            if (0 != numCount % pageCount) {
                pageNum += 1;
            }

            firstPage();
        };

        function checkEquipmentModify() {
            var form = document.getElementById("equipmentModifyForm");
            if (form.eqpName.value == "") {
                alert("设备名称不能为空");
                window.event.returnValue = false;//验证失败不提交action
                // return false;
            }
            else if (form.eqpName.value.length > 32)
            // || form.telephone.value.length > 32
            {
                alert("设备名称不能超过32个字符");
                window.event.returnValue = false;//验证失败不提交action
            }
            else if (!/^[a-zA-Z0-9_\u4e00-\u9fa5]+$/.test(form.eqpName.value)) {
                alert("设备名称只能由汉字、字母、数字和下划线组成");
                window.event.returnValue = false;//验证失败不提交action
            }
        }

        function submitOnMouseUpEquipmentModify() {
            var modifySubmit = document.getElementById("equipmentModifySubmit");
            modifySubmit.style.backgroundColor = "#EE7700";
        }

        function submitOnMouseLeaveEquipmentModify() {
            var modifySubmit = document.getElementById("equipmentModifySubmit");
            modifySubmit.style.backgroundColor = "#FFA500";
        }

        function submitOnMouseUpEqpIdToModify() {
            var modifySubmit = document.getElementById("eqpIdToModifySubmit");
            modifySubmit.style.backgroundColor = "#EE7700";
        }

        function submitOnMouseLeaveEqpIdToModify() {
            var modifySubmit = document.getElementById("eqpIdToModifySubmit");
            modifySubmit.style.backgroundColor = "#FFA500";
        }

        function submitOnMouseUpEqpIdToModifyAlarm() {
            var modifySubmit = document.getElementById("eqpIdToModifyAlarmSubmit");
            modifySubmit.style.backgroundColor = "#EE7700";
        }

        function submitOnMouseLeaveEqpIdToModifyAlarm() {
            var modifySubmit = document.getElementById("eqpIdToModifyAlarmSubmit");
            modifySubmit.style.backgroundColor = "#FFA500";
        }

        // function eqpNameEnable() {
        //     // $('#eqpName').removeAttr("disabled");
        //     // $("#eqpName").attr("disabled",false);
        //     $("eqpName").removeAttr("readonly");
        // }
    </script>
</head>

<body>
<div id="header">
    <a href="/login" style="color: blueviolet;font-size: 30px">人&nbsp体&nbsp健&nbsp康&nbsp监&nbsp测&nbsp平&nbsp台</a>
    <br/>
    <div style="float: left;width: 60%;text-align: left">
        <a href="/login" style="color: blueviolet;font-size: 18px">Human Health Monitoring Platform</a>
    </div>
    <div style="float: left;width: 40%;text-align: right">
        <span style="color: darkgrey;font-size: 18px">您好！<td th:text="${user.userName}"></td></span>
        <!--<a href="/monitorCenter/infoHallOnTime" style="text-align: right;font-size: 18px">监测中心&nbsp|</a>-->
        <a href="/userLogout" style="text-align: right;font-size: 18px">退出登录&nbsp|</a>
        <a href="/help" target="_blank" style="text-align: right;font-size: 18px">帮助</a>
    </div>
</div>

<!--<hr width="100%" color="#0080FF" size="2"/>-->

<div id="head-nav" class="head-nav">
    <div class="head-nav-con">
        <ul>
            <li><a href="/indexUser">首&nbsp&nbsp&nbsp&nbsp页</a></li>
            <li class="drop-down"><a href="javascript:void(0)">监测信息</a>
                <ul class="drop-down-content">
                    <li><a href="/infoHallOnTime">实时监测信息</a></li>
                    <li><a href="/infoHallHistory">历史监测信息</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="javascript:void(0)">监测设备</a>
                <ul class="drop-down-content">
                    <li><a href="/monitorCenter/equipmentAdd">添加设备</a></li>
                    <li><a href="/monitorCenter/equipmentInfoManage">设备信息管理</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="javascript:void(0)">监测对象</a>
                <ul class="drop-down-content">
                    <li><a href="/monitorCenter/objectAdd">添加监测对象</a></li>
                    <li><a href="/monitorCenter/objectInfoManage">监测对象信息管理</a></li>
                </ul>
            </li>
            <li class="drop-down"><a href="javascript:void(0)">用户账户</a>
                <ul class="drop-down-content">
                    <li><a href="/monitorCenter/accountBasicInfo">基本信息</a></li>
                    <li><a href="/monitorCenter/accountPwdModify">密码修改</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div style="width: 100%">
    <h1 style="text-align: center;color: blue;">已添加设备管理</h1>
</div>
<div style="width: 100%;min-height: 80%">
    <div style="width: 27%;float: left;padding-left: 3%">
        <!--<h2 style="text-align: left">点击选择监测对象：</h2>-->
        <table id="blocks">
            <tr style="text-align: left">
                <th>
                    <p align="left" style="font-size: 20px;border: 0;color: blue">设备列表</p>
                </th>
            </tr>
            <tr th:each="equipment:${equipmentList}">
                <td>
                    <form id="equipmentForm" action="/monitorCenter/equipmentInfoManageSelect" name="equipmentForm"
                          accept-charset="utf-8" method="post"
                          style="text-align:center">
                        <input type="hidden" id="eqpId" name="eqpId" th:value="${equipment.eqpId}" readonly="true"/>
                        <!--<p align="left">-->
                        <input type="submit" name="eqpName" id="eqpName" class="inputSubmitOnLeave"
                               th:value="${equipment.eqpName}"
                               style="font-size: 23px;background-color: white;border: none;color: blue"/>
                        <!--</p>-->
                    </form>
                </td>
            </tr>
        </table>
        <div id="pagiDiv" style="text-align: left;font-size: 16px;margin-top: 20px;margin-left: 10px">
            <!--width:60%;margin-left: 20%;margin-right: 20%;margin-top: 20px;-->
            <span id="spanFirst" style="font-size: 16px">首页</span>&nbsp;&nbsp;
            <span id="spanPre" style="font-size: 16px">上一页</span>&nbsp;&nbsp;
            <span id="spanNext" style="font-size: 16px">下一页</span>&nbsp;&nbsp;
            <span id="spanLast" style="font-size: 16px">尾页</span>&nbsp;&nbsp;
            第&nbsp;<span id="spanPageNum" style="font-size: 16px"></span>&nbsp;页/共&nbsp;<span id="spanTotalPage"
                                                                                              style="font-size: 16px"></span>&nbsp;页
        </div>
    </div>
    <div style="width: 67%;float: left;margin-right: 3%">
        <!--<p align="center" th:text="${equipment.}" style="color: black;font-size: 20px;border: 0px;text-align: center"></p>-->

        <!--margin:auto;margin-top:15%-->
        <div class="d"
             style="height:400px;background-color:white;width:950px;border: 0 solid lightgrey;margin-left: 20px;">
            <form id="equipmentModifyForm" name="equipmentModifyForm" action="/monitorCenter/equipmentInfoModify"
                  accept-charset="utf-8" method="post"
                  style="text-align:center;" onsubmit="checkEquipmentModify()">
                <br/>
                <p style="font-size: 28px;text-align: left;color: blue;text-indent: 2em">&nbsp基本信息</p>
                <p style="text-align: left;text-indent: 4em">
                    <span class="equipmentModifyReminder" style="text-align: left;font-size: 28px">设备号:</span>
                    <span th:text="${equipment.eqpId}" th:value="${equipment.eqpId}"
                          style="text-align: left;font-size: 28px"></span>
                    <input type="hidden" id="eqpIdShow" name="eqpIdShow" th:value="${equipment.eqpId}"/>
                </p>
                <p style="text-align: left;text-indent: 4em;margin-top: 15px">
                    <nobr>
                        <span class="equipmentModifyReminder" style="text-align: left;font-size: 28px">设备名称:</span>
                        <input type="text" id="eqpName" name="eqpName" th:value="${equipment.eqpName}"
                               class="inputStyle2"
                               onfocus="this.ready()" onmouseout="this.blur()"/>
                        <input type="submit" id="equipmentModifySubmit" name="equipmentModifySubmit"
                               style="font-size: 18px;height: 40px;width: 60px;background-color: #FFA500;border: none;color: white;margin-left: 30px"
                               value="保 存" onmouseover="submitOnMouseUpEquipmentModify()"
                               onmouseleave="submitOnMouseLeaveEquipmentModify()"/>
                    </nobr>
                </p>
                <p style="text-align: left;text-indent: 4em;margin-top: 15px">
                    <span class="equipmentModifyReminder" style="text-align: left;font-size: 28px">设备类型:</span>
                    <span th:text="${equipment.eqpType}" th:value="${equipment.eqpType}"
                          style="text-align: left;font-size: 28px"></span>
                    <!--<input type="text" id="eqpType" name="eqpType" th:value="${equipment.eqpType}"  class="inputStyle2"/>-->
                </p>
                <p style="text-align: left;text-indent: 4em;margin-top: 15px">
                    <span class="equipmentModifyReminder" style="text-align: left;font-size: 28px">注册日期:</span>
                    <span th:value="${equipment.registerDate}" th:text="${equipment.registerDate}"
                          style="text-align: left;font-size: 28px"></span>
                </p>
                <p style="text-align: left;text-indent: 4em;margin-top: 15px">
                    <span class="equipmentModifyReminder" style="text-align: left;font-size: 28px">绑定对象:</span>
                    <span th:value="${equipment.objectId}" th:text="${equipment.objectId}"
                          style="text-align: left;font-size: 28px"></span>
                    <input type="hidden" id="eqpIdToModify" name="eqpIdToModify" th:value="${equipment.eqpId}"/>
                    <input type="submit" id="eqpIdToModifySubmit" value="更 改"
                           formaction="/monitorCenter/modifyBanding"
                           onmouseover="submitOnMouseUpEqpIdToModify()" onmouseleave="submitOnMouseLeaveEqpIdToModify()"
                           style="align-self: right;font-size: 18px;height:40px;width:60px;background-color: #FFA500;border: none;color: white;margin-left: 30px"/>
                </p>
            </form>
        </div>

        <!--<div class="d" style="height:60px;background-color:white;width:950px;border: 0px solid lightgrey;margin: auto;">-->
        <!--<p style="text-align: right;margin-right: 20%">-->
        <!--<form action = "/monitorCenter/modifyBanding" accept-charset="utf-8" method="post" style="text-align: right">-->
        <!--<input type="hidden" id="eqpIdToModify" name="eqpIdToModify"  th:value="${equipment.eqpId}" />-->
        <!--<input type="submit" value="修改绑定对象" style="align-self: right;font-size: 28px;background-color: #FFA500;border: none;color: white"/>-->
        <!--</form>-->
        <!--</p>-->
        <!--</div>-->

        <div class="d"
             style="min-height:300px;background-color:white;width:950px;border: 0 solid lightgrey;margin-left: 20px;margin-top: 30px">
            <nobr>
                <span style="font-size: 28px;text-align: left;margin-left:56px;color: blue">&nbsp警报界限信息</span>
                <form action="/monitorCenter/modifyAlarmValue" accept-charset="utf-8" method="post"
                      style="margin: 0;display: inline">
                    <input type="hidden" id="eqpIdToModifyAlarm" name="eqpIdToModifyAlarm"
                           th:value="${equipment.eqpId}"/>
                    <input type="submit" id="eqpIdToModifyAlarmSubmit" value="更 改"
                           onmouseover="submitOnMouseUpEqpIdToModifyAlarm()"
                           onmouseleave="submitOnMouseLeaveEqpIdToModifyAlarm()"
                           style="font-size: 18px;background-color: #FFA500;border: none;color: white;height: 40px;margin-left: 30px"/>
                </form>
            </nobr>
            <p th:each="alarmValue:${alarmValueList}" style="text-align: left;text-indent: 4em;margin-top: 15px">
                    <span th:value="${alarmValue.valueName}" th:text="${alarmValue.valueName}"
                          style="text-align: left;font-size: 28px"></span><span
                    style="font-size: 28px">:&nbsp&nbsp</span>
                <span id="value" th:value="${alarmValue.value}" th:text="${alarmValue.value}"></span>
                <span id="measurementUnit" th:value="${alarmValue.measurementUnit}"
                      th:text="${alarmValue.measurementUnit}"></span>
            </p>
        </div>
        <!--<div class="d" style="height:60px;background-color:white;width:950px;border: 0px solid lightgrey;margin: auto;">-->
        <!--<p style="text-align: right;margin-right: 20%">-->
        <!--<form action = "/monitorCenter/modifyAlarmValue" accept-charset="utf-8" method="post" style="text-align: right">-->
        <!--<input type="hidden" id="eqpIdToModifyAlarm" name="eqpIdToModifyAlarm"  th:value="${equipment.eqpId}" />-->
        <!--<input type="submit" value="修改警戒值" style="align-self: right;font-size: 28px;background-color: #FFA500;border: none;color: white"/>-->
        <!--</form>-->
        <!--</p>-->
        <!--</div>-->
    </div>
</div>
<!--<div style="margin-top: 80px;margin-bottom: 80px">-->

<!--</div>-->

<iframe frameborder="0" scrolling="no" marginwidth="0" marginheight="0" width="100%"
        th:src="@{/master/footer.html}"></iframe>
</body>
</html>